.FetchingDiv_item {
    margin: 0.5rem 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

    animation: fetching_div 1.5s infinite linear;
}

.FetchingDiv_item_2 {
    animation-delay: 0.5s;
}
.FetchingDiv_item_3 {
    animation-delay: 1s;
}

// 
@keyframes fetching_div {
    0% {
        background-color: var(--blue);
    }
    50% {
        background-color: var(--md-bg-ccc);
    }
    100% {
        background-color: transparent;
    }
}
