// 
.ProfileAbout_left {
    width: 400px;
    border-right: 2px solid var(--md-bg-ccc);
}

.ProfileAbout_right {
    width: 600px;
    .InputNotValid_placeholder{
        background-color: var(--md-bg-primary);
    }
}

//
@media (max-width: 1000px) {
    .ProfileAbout_row {
        display: block;
    }

    .ProfileAbout_left{
        margin: auto;
        width: 600px;
        max-width: 100%;
        border-left: none;
        border-bottom: 2px solid var(--md-bg-ccc);
    }
    
    .ProfileAbout_col-info {
        margin: auto;
        max-width: 100%;
    }
}
