//
.PfAbout_part:not(:last-child) {
    padding-bottom: 20px;
}
// .
.PfAbout_title {
    margin-bottom: 15px;

    line-height: 20px;
    font-size: 17px;
    font-weight: 600;
    color: var(--color-333);
}
// .
.PfAbout_add:not(:last-child) {
    margin-bottom: 15px;
}
// .
.PfAbout_input:not(:last-child) {
    margin-bottom: 15px;
}
// .
.PfAbout_edit {
    margin-top: 15px;
}

// ----

.device-mobile{
    .PfAbout_title{
        font-size: 15px;
    }
}
