.ProfileAbout {
    margin: 0 auto 1.5rem;
    max-width: 100%;
}

//
.ProfileAbout_left {
    width: 300px;
    max-width: 100%;
    border-right: 2px solid var(--md-bg-ccc);
}

.ProfileAbout_right {
    width: 600px;
    max-width: 100%;
    .InputNotValid_placeholder {
        background-color: var(--md-bg-primary);
    }
}

//
@media (max-width: 1000px) {
    .ProfileAbout{
        margin-bottom: 0;
    }
    
    .ProfileAbout_row {
        display: block;
    }

    .ProfileAbout_left {
        margin: auto;
        width: 600px;
        padding: 0;

        border-left: none;
        border-bottom: 2px solid var(--md-bg-ccc);
    }

    .ProfileAbout_right {
        margin: auto;
        min-height: 15rem;
        padding: 8px;
    }
}
