// 
.InputText_textarea{
    height: auto;
    max-height: 100px;
    resize: none;
}

//
.InputText_input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--md-color-secondary);

    &:focus{
        outline: none;
    }
}
//
.InputText_valid{
    border: 1px solid var(--success);
}
//
.InputText_invalid{
    border: 1px solid var(--danger);
}


//
@media (max-width: 500px){
    .InputText_input{
        padding: 0.25rem;
    }
}
