.SelectFont_current{
    border: 1px solid var(--md-bg-blur);
}

.SelectFont_list{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
// .
.SelectFont_list{
    border: 1px solid var(--md-bg-blur);
}