.BgImgItem{
    width: 28px;
    height: 28px;
    transition: all 100ms ease-in;
}
.BgImgItem-active{
    border: 3px solid var(--blue);
    transform: scale(1.15);
}
.BgImgItem-inactive{
    transform: scale(1);
}