.ProfileInfoName_name {
    line-height: 38px;
    font-size: 32px;
}

.ProfileInfoName_nick {
    font-size: 28px;
}

// -------

.device-mobile {
    .ProfileInfoName_name {
        line-height: unset;
        text-align: center;
        font-size: 16px;
    }

    .ProfileInfoName_nick {
        font-size: inherit;
    }
}
