/*---------------------------------*/

.ProfileInfo {
    padding-bottom: 1rem;
    .SkeletonDiv {
        margin: auto;
        width: 10rem;
    }

    &_name-story {
        margin-bottom: 0.5rem;
    }
}
