.ProfileInfo_name_friend {
    margin: 32px 0 16px 16px;
}

.ProfileInfo_actions {
    margin: 32px 0 16px 32px;
}

// ----

.device-mobile {
    .ProfileInfo_user_action {
        display: block;
    }
    // .
    .ProfileInfo_user {
        display: block;
    }
    // ..
    .ProfileInfo_name_friend {
        margin: 10px 0;
    }
    // .
    .ProfileInfo_actions {
        margin: 0;
        padding: 10px 5px;
    }

    .ProfileInfo_bio {
        padding: 10px;
    }
}
