.StoryLike {
    .ListTypeLike {
        animation: none;
    }
    .ListTypeLike_row {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    .IconsTypeLike {
        width: 2rem;
        height: 2rem;
    }
}