//
.RadioCustom{
    position: relative;
    width: 1rem;
    height: 1rem;

    border: 1px solid var(--md-bg-ccc);
}
.RadioCustom_inactive{
    background-color: var(--white);
}
.RadioCustom_active{
    background-color: var(--border-fashion);
}

//
.RadioCustom_center{
    width: 45%;
    height: 45%;
    background-color: var(--white);
}