
//
.PaymentChoice{
    border-bottom: 1px solid var(--md-bg-blur);
}
//
.PaymentChoice_active{
    position: relative;
    padding-left: 1.5rem;
    
    &::before{
        content: "✔";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
