// 
.ProfileIntroduce_col-menu {
    width: 400px;
    margin-right: 0.5rem;
    & > div:not(:first-child) {
        padding: 0.5rem;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            background-color: var(--md-bg-hover);
        }
    }
}

.ProfileIntroduce_col-info {
    width: 600px;
}

//
@media (max-width: 1000px) {
    .ProfileIntroduce_row {
        display: block;
    }

    .ProfileIntroduce_col-menu {
        margin: auto auto 0.5rem;
        width: 600px;
        max-width: 100%;
    }
    
    .ProfileIntroduce_col-info {
        margin: auto;
        max-width: 100%;
    }
}
