// ..
.Cities_item {
    margin-bottom: 1rem;
}

.Cities_add-pc{
    transition: transform 0.25s ease-in;
    &:hover {
        transform: translateX(0);
    }
}
// .
.Cities_add-icon {
    height: 2.5rem;
    width: 2.5rem;
    transform: rotate(-45deg);
}

// .
.Cities_skeleton {
    padding-top: 3.75rem;
}
