//
.YesNoDiv_row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
///
.YesNoDiv_btn {
    margin: 0 0.5rem;
    padding: 0 0.25rem;

    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
}
////
.YesNoDiv_btn-yes {
    background-color: var(--danger);
}
.YesNoDiv_btn-no {
    background-color: var(--shadow-9);
}
