.StoryHomePc-has_head{
    height: calc(100vh - var(--height-header));
    margin-top: calc(var(--height-header));
}

.StoryHomePc_left{
    // width: 350px;
    flex-shrink: 0;
    transition: all 250ms;
    z-index: 1;
}
.StoryHomePc_left-show{
    width: 350px;
    // transform: translateX(0%);
}
.StoryHomePc_left-hide{
    width: 0;
    // transform: translateX(-100%);
}

.StoryHomePc_close{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

// 
@media (max-width: 700px) {
    .StoryHomePc_left{
        display: none;
    }
    .StoryHomePc_close{
        display: block;
    }
}