.StoryFace{
    &:hover{
        .StoryFace_img{
            transform: scale(1.025);
        }

        .story-bg-hv{
            display: block;
        }
    }
}

.StoryFace_pic{
    position: absolute;
    left: 0;
    top: 0;
}

.StoryFace_name{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
}

// .
.StoryFace_count_new{
    position: absolute;
    right: 0;
    top: 0;

    .BadgeDiv{
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--blue);
        font-size: 14px;
    }
}