.LikeShareCmt {
    padding: 0.25rem 0;
    border-top: 1px solid var(--md-border-blur);
    border-bottom: 1px solid var(--md-border-blur);

    user-select: none;
}

.LikeShareCmt_item {
    flex-basis: 1rem;
    flex-grow: 1;

    height: 2.25rem;
    border-radius: 5px;
    &:hover {
        background-color: var(--md-bg-hover);
    }
    .Like_type {
        padding: 0.25rem;
    }
    .FlexDiv {
        display: flex;
        justify-content: center;
        padding: 0.25rem;
        cursor: pointer;
    }
}

//
.BtnPostCmtShare_title {
    display: block;
}
.BtnPostCmtShare_total {
    display: none;
}

//
@media (max-width: 500px) {
    .LikeShareCmt_item {
        height: auto;
        font-size: 14px;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    //
    .BtnPostCmtShare_title {
        display: none;
    }
    .BtnPostCmtShare_total {
        display: block;
    }
}
