//
.FsSearch_input {
    padding-left: 10px;
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}

.FsSearch_in{
    border-left: 1px solid var(--ccc);
}

//
.FsSearch_key {
    width: 60px;
    height: 34px;
    background-color: #fb6445;

    .IconsInput_key {
        stroke: var(--white);
    }
}
