.ChatScreenEdit_row{
    flex-direction: column;
}

//
.ChatScreenEdit_part:not(:last-child) {
    border-bottom: 1px solid var(--md-bg-ccc);
}

///
.ChatScreenEdit_del-confirm {
    margin-top: 0.25rem;
}
