// .
.StoryFaceUserPic {
    padding: 10px;
}

.StoryFaceUserPic_contain {
    width: 35px;
    height: 35px;
}

// ..
.StoryFaceUserPic_border-new {
    padding: 2px;
    border: 2px solid var(--blue);
    background-color: var(--md-bg-primary);
}
