

//
.PhoneLaptop_banner{
    margin-bottom: 1rem;
    height: 20rem;

    background-image: url('/image/banner_laptop_phone.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.PhoneLaptop_phone{
    margin-bottom: 1rem;
}