.ShortVideoFullPc {
    height: 100vh;
}

.ShortVideoFullPc_bg {
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(100px);
}

.ShortVideoFullPc_video {
    width: calc((100vh - 20px) * 9 / 15);
    height: 100%;
}

// ----

.device-mobile {
    .ShortVideoFullPc_contain {
        padding: 0;
    }

    .ShortVideoFullPc_video {
        width: 100%;
    }
}
