//
@media (max-width: 500px) {
    .header_menu {
        padding: 0.75rem;
    }

    .header_hidden_contain {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

@media (max-width: 350px) {
    // .
    .header_hidden_contain {
        border-radius: 0;
    }

    .header_icon {
        width: 1.8rem;
        height: 1.8rem;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

@media (max-width: 300px) {
    .header_menu {
        padding: 0.5rem;
    }
}
