

//
.ActionsLike{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-index-lv1);
}

//
.ActionsLike_item{
    margin: 0.25rem;
    cursor: pointer;

    .IconsTypeLike{
        width: 2rem;
        height: 2rem;
    }
    &:hover{
        position: relative;
        bottom: 2px;
        transition: all 0.3s;
        transform: scale(1.25);
    }
}

.ActionsLike_del{
    margin: 0.25rem;
}
// .
.ActionsLike_del-item{
    width: 2rem;
    height: 2rem;
}