// .StoryViewerItem_like-row{
//     max-width: 100px;
//     overflow-x: auto;
// }
// .
.StoryViewerItem_like-item{
    padding: 0 2px;
    .IconsTypeLike{
        width: 1rem;
        height: 1rem;
    }
}