.HeaderMobile {
    height: calc(var(--height-header));
}

.HeaderMobile_item {
    flex-grow: 1;
    position: relative;
    height: 100%;

    .HeaderBtnIcon_contain {
        width: 24px;
        height: 24px;
        background-color: transparent;
    }

    //

    .HeaderMenu_icon {
        padding: 0;

        &:hover {
            background-color: transparent;
        }
    }

    .HeaderMenu_border_bottom {
        height: 0;
    }

    .Header_notice {
        height: calc(var(--height-header));
    }
}
