.ChatBd_contain {
    padding: 0.5rem 0.7rem 0.5rem 0.3rem;
    border-bottom: 1px solid var(--bg-blur);
    overflow-x: hidden;
    overflow-y: auto;
}

.ChatBd_mess {
    margin: 10px 5px;
    word-wrap: break-word;
    word-break: break-word;
}

.ChatBd_texting {
    transition: all 0.5s linear;
}
.ChatBd_texting-show {
    height: 2rem;
    transform: translateY(0);

    .WaitingBall_ball {
        background-color: var(--md-bg-hover);
        width: 0.45rem;
        height: 0.45rem;
    }
}
.ChatBd_texting-hide {
    height: 0;
    transform: translateY(100px);
}
