.ChatBd_contain {
    overflow-x: hidden;
    overflow-y: auto;
    will-change: scroll-position;

    &::-webkit-scrollbar-track{
        border-radius: 0;
        background-color: var(--md-bg-fb);
    }
}

.ChatBd_mess {
    word-wrap: break-word;
    word-break: break-word;
}

.ChatBd_texting {
    transition: all 0.5s linear;
}
.ChatBd_texting-show {
    height: 2rem;
    transform: translateY(0);

    .WaitingBall_ball {
        background-color: var(--md-bg-hover);
        width: 0.45rem;
        height: 0.45rem;
    }
}
.ChatBd_texting-hide {
    height: 0;
    transform: translateY(100px);
}

.ChatBd_contain_end{
    margin-bottom: -1px;
}
