.GroupPageDiscussRight_part_contain {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
}

.GroupPageDiscussRight_part_title{
    font-size: 17px;
    font-weight: 600;
}

// -----

.device-mobile{
    .GroupPageDiscussRight_part_contain{
        padding: 8px;
        border-radius: 0;
    }

    .GroupPageDiscussRight_part_title{
        font-size: 16px;
    }
}
