.CanvasDraw_contain{
    height: 250px;
}
// .
.CanvasDraw_canvas{
    touch-action: none;
}
// .
.CanvasDraw_bg {
    width: 6.5rem;
}

.CanvasDraw_actions-item {
    margin: 0.3rem;

    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    padding: 0.1rem 0.3rem;
    background-color: var(--md-bg-primary);
    border-radius: 5px;
    &:hover {
        background-color: var(--md-bg-blur);
    }
}
.CanvasDraw_actions-select{
    outline: none;
    border: none;
}

//
@media (max-width: 360px) {
    .CanvasDraw_actions {
        width: 100%;
        overflow: auto;
    }
    .CanvasDraw_bg {
        bottom: 102%;
        top: auto;
        right: 0;
    }
}
