
//
.ScreenConfirm_head{
    margin-bottom: 0.5rem;
}
///
.ScreenConfirm_head_row{
    display: flex;
    justify-content: space-between;
}
////
.ScreenConfirm_head-title{
    font-size: 20px;
}

//
.ScreenConfirm_body{
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}
