.ItemNotice {
    .PictureNameCommon_contain {
        height: auto;
    }
    .PictureNameCommon_row{
        align-items: flex-start;
    }
    
    // .
    .PictureNameCommon__pic {
        width: 3rem;
        height: 3rem;
    }
    // .
    .PictureNameCommon__name-content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-height: 1.5rem;

        max-width: calc(100% - 1rem);
        max-height: 4.5rem;
        overflow: hidden;
    }
    // ..
    .PictureNameCommon__name{
        margin-right: 0.25rem;
    }
}

.ItemNotice_contain{
    border-bottom: 1px solid var(--md-bg-ccc);
}

// .
.ItemNotice_time{
    text-align: end;
    font-size: 11px;
    font-style: italic;
}
