.PLHome-mobile{

    // -----

    .pl-home-title{
        padding: 10px;
        font-size: 16px;
    }

    .pl-home-title-md{
        padding: 10px;
        font-size: 15px;
    }

    // -----

    .PLHome_part{
        margin-bottom: 15px;
    }

    .PLHome_banner{
        padding-top: 0;
    }

    .PLHome_tech_app{
        display: block;
    }

    .PLHome_tech{
        width: 100%;
    }

    // ----

    .PLLinks{
        font-size: 12px;
        overflow-x: auto;
    }

    .PLLinks_item {
        padding: 2px 5px;
    }
}