
.ShopPersonal{
    padding: 0.5rem;
}
.ShopPersonal_row{
    justify-content: space-around;
}

.ShopPersonal_left{
    width: 25rem;
    border-radius: 5px;
}

.ShopPersonal_right{
    width: 40rem;
    border-radius: 5px;
}