.FbNotice {
    padding-top: 32px;
    padding-bottom: 32px;
}

// -----

.device-mobile {
    .FbNotice {
        padding: 0;
    }
    .FbNotice_contain {
        width: 100%;
        min-height: calc(100vh - var(--height-header));

        .HeaderNoticeContain_title {
            position: sticky;
            top: var(--height-header);
            z-index: 1;

            background: var(--md-bg-primary);
            border-bottom: 1px solid var(--md-bg-blur);
        }
    }
}
