.FsIIfRTierVariantItem {
    border: 1px solid var(--md-bg-blur);

    &:hover {
        color: var(--fashion-head);
        border: 1px solid currentColor;

        // .FsIIfRTierVariantItem_tick{
        //     display: block;
        // }
    }
}
.FsIIfRTierVariantItem-active {
    border: 1px solid currentColor;
}
