.FsIIfLShareLike_left{
    width: 50%;
}
// .
.FsIIfLShareLike_btn{
    margin-left: 5px;
    width: 25px;
    height: 25px;

    background-image: url('../../../../../../../../image/social.png');
    background-size: 100%;
    background-color: transparent;

    border: none;
    cursor: pointer;
}
@for $i from 1 through 4 {
    .FsIIfLShareLike_btn_#{$i}{
        background-position: 0 #{$i * 100% - 200%};
    }
}

.FsIIfLShareLike_right{
    width: 50%;

    .IconHeart_face{
        fill: none;
    }
    .IconHeart_heart{
        fill: none;
        stroke-width: 10;
        stroke: var(--fashion-head);
    }
}