.HeaderVItemHasSub_title {
    padding: 0.75rem 0.5rem;
}

// .HeaderVItemHasSub_title-active {
//     color: var(--base-seafoam);
// }

// .
.HeaderVItemHasSub_list {
    overflow: hidden;
    transition: all 0.35s ease;
}
.HeaderVItemHasSub_list-hidden {
    max-height: 0;
}
.HeaderVItemHasSub_list-open {
    max-height: 10rem;
}

// ..
.HeaderVItemHasSub_item {
    position: relative;
    a {
        .HeaderVItem {
            padding-left: 2rem;

            &::before {
                content: '-';
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);

                font-weight: bold;
            }
        }
    }
}
