
// .
.HeaderVItemHasSub_list {
    overflow: hidden;
    transition: all 0.35s;
}
.HeaderVItemHasSub_list-hidden {
    max-height: 0;
}
.HeaderVItemHasSub_list-open {
    max-height: 10rem;
}

// ..
.HeaderVItemHasSub_item {
    position: relative;
    padding-left: 2rem;
    a{
        &::before {
            content: '-';
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
    
            font-weight: 600;
        }

        &.nav-active{
            &::before{
                color: var(--blue);
            }
        }
    }
}
