.FsHotDeal-mobile {
    padding: 8px;

    .FsHotDeal_row {
        display: block;
    }
    .FsHotDeal_list_row {
        display: block;
    }
    .FsHotDeal_item {
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 100%;
    }
    .FsHotDeal_item_plus {
        display: none;
    }

    .FsHotDealItem {
        display: flex;
        flex-direction: column;
    }
    .FsHotDealItemHead {
        display: flex;
    }
    .FsHotDealItem_foot {
        order: -1;
        margin-top: 0;
    }
    .FsHotDealItemHead_img {
        width: 68px;
        height: 68px;
        flex-shrink: 0;
        padding: 0;
        margin-right: 10px;
    }
    .FsHotDealItemHead_name {
        max-height: 42px;
    }
    .FsHDItemFoot_check {
        margin: 0;
    }
    .FsHDItemFoot_check_right {
        max-width: 12.5rem;
    }

    .FsHotDealTiers {
        max-height: 100vh;
        border-radius: 0;
    }
}
