.CmtRight_user_text {
    max-width: calc(100% - 40px);
    border-radius: 18px;
    vertical-align: middle;
}

.CmtRight_action {
    vertical-align: middle;

    .IconThreeDot {
        width: 16px;
        height: 16px;
    }
}

// 
.device-mobile{
    .CmtRight_user_text{
        max-width: 100%;
    }
    .CmtRight_action{
        padding: 0;
        vertical-align: unset;
    }
}
