.ActionsMultiListItem{
    svg{
        margin-right: 6px;
    }
}

// -------

.device-mobile{
    .ActionsMultiListItem{
        padding: 10px;
        border-radius: 0;
        border-bottom: 1px solid var(--md-bg-blur);
    }
}
