.FriendsHomeLeft_item {
    height: 52px;
}
.FriendsHomeLeft_item-active {
    .FriendsHomeLeft_item_icon {
        background-color: var(--blue);
        color: white;
    }
}

.FriendsHomeLeft_item_icon {
    svg {
        width: 20px;
        height: 20px;
    }

    .IconFriend,
    .IconFriends {
        fill: currentColor;
    }
}

// -----

.device-mobile {
    .FriendsHomeLeft {
        padding-left: 0;
    }

    .FriendsHomeLeft_item {
        height: auto;
        padding: 10px;
        border-radius: 0;

        font-size: 15px;

        .IconsArrow{
            width: 16px;
            height: 16px;
        }
    }

    .FriendsHomeLeft_item_icon {
        svg {
            width: 18px;
            height: 18px;
        }
    }
}
