
//
.TransportationChoice_contain{
    border-bottom: 1px solid var(--md-bg-blur);
}

//
.TransportationChoice_name{
    border-bottom: 1px solid var(--md-bg-blur);
}
//
.TransportationChoice_forms{
    margin-left: 2rem;
    overflow: hidden;
    transition: max-height 0.3s;
}
.TransportationChoice_forms-active{
    max-height: 15rem;
}
.TransportationChoice_forms-inactive{
    max-height: 0;
}

//
.TransportationChoice_block{
    padding: 0.5rem;
}
