
//
.TransportationChoice{
    border-bottom: 1px solid var(--md-bg-blur);
}

//
.TransportationChoice_name{
    border-bottom: 1px solid var(--md-bg-blur);
}
//
.TransportationChoice_forms{
    overflow: hidden;
    transition: max-height 0.3s;
}
.TransportationChoice_forms-active{
    max-height: 18rem;
}
.TransportationChoice_forms-inactive{
    max-height: 0;
}

