
.ProfileHome{
    padding-top: 0.5rem;
}

.ProfileHome_row {
    display: flex;
    justify-content: center;
}
// .
.ProfileHome_col-left{
    width: 360px;
    margin-right: 1rem;
}
// .
.ProfileHome_col-right {
    width: 500px;
    max-width: 100%;
}
