
// .
.ProfileHome_left{
    width: 360px;
    margin-right: 1rem;
}
// ..
.ProfileHome_left-preview{
    position: sticky;
    top: 0;
}

// .
.ProfileHome_right {
    width: 500px;
    max-width: 100%;
}
