// 
@media (max-width: 900px) {
    .ProfileHome_row{
        display: block;
    }
    // .
    .ProfileHome_left{
        margin: auto auto 5px;
        width: 500px;
        max-width: 100%;
    }
    // .
    .ProfileHome_right{
        margin: auto;
    }

    .ProfilePrCommon{
        border-radius: 0;
    }
}