.GroupPageTopics_contain {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
}

.GroupPageTopics_title {
    font-size: 20px;
    font-weight: 600;
}

// -----

.device-mobile {
    .GroupPageTopics_contain {
        padding: 8px;
        border-radius: 0px;
    }

    .GroupPageTopics_title {
        font-size: 17px;
    }
}
