//
.ZoomVidPicItem {
    .Comments_title{
        padding: 10px;
    }
    
    .Comments_input {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        width: 100%;
        background-color: var(--md-bg-primary);

        .CommentInput_preview {
            position: absolute;
            bottom: 100%;
        }
    }
}

//
@media (max-width: 1000px) {
    .ZoomVidPicItem {
        .Comments_input {
            transform: translateX(-51.5%);
            max-width: 500px;
        }
    }
}

@media (max-width: 500px) {
    .ZoomVidPicItem {
        .Comments_input {
            transform: translateX(-50%);
        }
    }
}
