.FashionItemDescription{
    line-height: 1.875rem;
}

.FashionItemDescription_label{
    width: 100px;
    margin-right: 2.5rem;
}

// ..
.FashionItemDescription_content{
    white-space: pre-wrap;
}