.fs-personal-profile-label{
    width: 22%;
    padding-right: 20px;

    text-align: end;
    color: var(--md-color-third);
}

.fs-profile-input-label{
    width: 140px;
    padding-right: 20px;

    text-align: end;
    color: var(--md-color-third);
    font-size: 14px;
}

.fs-profile-update-input{
    width: 300px;
}

.fs-profile-update-error{
    margin-left: 140px;
}

.fs-profile-update-confirms{
    margin-left: 140px;
    margin-bottom: 50px;
}
