.FashionItem {
    font-family: Helvetica, Arial, sans-serif;
}

.FashionItem_ {
    &head {
        margin-bottom: 1rem;
    }

    &mid {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    // .
    &part {
        margin-bottom: 1.5rem;
    }
}
