.FashionItem_mobile {
    .fashion-item-row {
        display: block;
    }

    .fashion-item-label {
        width: auto;
    }

    .fashion-head-font {
        font-size: 14px;
        color: var(--md-color);
    }

    .FashionItem_part {
        margin-bottom: 1rem;
    }

    .FashionItem_body {
        flex-direction: column-reverse;
    }
    .FashionItem_body_left,
    .FashionItem_body_right {
        width: 100%;
        padding: 0;
    }
}
