
@media (max-width: 900px){
    .FashionSearch_row{
        display: block;
    }
    // 
    .FashionSearch_open-filter{
        display: block;
    }

    .FashionSearch_filter {
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-index-lv3);

        margin: 0;
        width: 100%;
        height: 100vh;
        
        // padding: 0.5rem;
        background-color: var(--bg-loader);
    }
    .FashionSearch_filter-close{
        display: none;
    }
    // 
    .FashionSearch_filter-icon-close{
        display: block;

        position: absolute;
        top: 8px;
        right: 8px;
    }


    .SearchFilter {
        width: 16rem;
        // max-width: 100%;
        height: 100%;
        overflow: auto;
        background-color: var(--white);
    }
}