.FbSearchPageMenuItem_link{
    height: 52px;
}

.FbSearchPageMenuItem_filter{
    padding-left: 32px;
}

// ------

.device-mobile{
    .FbSearchPageMenuItem_link{
        height: 48px;
        border-radius: 0;
    }

    .FbSearchPageMenuItem_filter{
        padding-left: 0px;
        background-color: var(--md-bg-fb);
    }
}
