.FbSearchPageMenuItem_link {
    height: 52px;
}
.FbSearchPageMenuItem_link-active {
    .FbSearchPageMenuItem_icon {
        background-color: var(--blue);
    }

    .IconsInput_pic{
        stroke: none;
        fill: var(--white);
    }
}

.FbSearchPageMenuItem_icon {
    svg {
        width: 20px;
        height: 20px;
    }
}

.FbSearchPageMenuItem_filter {
    padding-left: 32px;
}

// ------

.device-mobile {
    .FbSearchPageMenuItem_link {
        height: 48px;
        border-radius: 0;
    }

    .FbSearchPageMenuItem_filter {
        padding-left: 0px;
        background-color: var(--md-bg-fb);
    }
}
