// 
@media (max-width: 900px) {
    .GroupPageDiscuss_row{
        display: block;
    }
    // .
    .GroupPageDiscuss_right{
        margin: auto auto 15px;
        width: 500px;
        max-width: 100%;
    }
    // .
    .GroupPageDiscuss_left{
        margin: auto;
    }
}