.device-mobile{
    .GroupPageDiscuss {
        padding: 16px 0;
    }

    .GroupPageDiscuss_row{
        flex-direction: column-reverse;
    }

    .GroupPageDiscuss_left{
        margin-right: 0;
        width: 100%;
    }

    .GroupPageDiscuss_right{
        width: 100%;
    }
}