.FsItemIfRPrice{
    padding: 15px 20px;
}

.FsItemIfRPrice_new{
    padding: 0 15px;
    font-size: 30px;
}

.FsItemIfRPrice_discount{
    padding: 2px 4px;
    line-height: 12px;
    border-radius: 2.5px;
}