// .
.ScreenLike_add-friend {
    .IconsTypeLike {
        width: 1rem;
        height: 1rem;
    }
}

// ----

.device-mobile {
    .ScreenLike_add-friend {
        .UserAdd{
            padding: 5px 8px;
        }

        .PictureNameCommon__pic {
            width: 24px;
            height: 24px;
        }

        .PictureNameCommon_right{
            overflow: hidden;
        }

        .PictureNameCommon__name-content {
            display: flex;
            align-items: center;
        }

        .PictureNameCommon__name {
            margin-right: 5px;
            max-width: calc(100% - 20px);

            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .PictureNameCommon__content{
            display: flex;
            align-items: center;
        }
    }
}
