$pic_width: 15vw;
$pic_width_500: 25vw;

// 
.ProfileInfoPicture {
    margin-bottom: 2.5rem;
}

.ProfileInfoPicture_cover {
    padding: 0 8%;
    img {
        height: 25rem;
    }
}

.ProfileInfoPicture_profile {
    width: $pic_width;
    height: 2rem;
}
// .
.ProfileInfoPicture_profile_contain {
    img {
        width: $pic_width;
        height: $pic_width;
        border: 2px solid white;
    }
}
// ..
.ProfileInfoPicture_profile-fetching{
    border: 1px solid var(--md-color-secondary);
}


//
@media (max-width: 500px) {
    .ProfileInfoPicture {
        margin-bottom: 1rem;
    }

    // .
    .ProfileInfoPicture_cover {
        padding: 0;
        img {
            border-radius: 0;
            height: 10rem;
        }
    }

    // .
    .ProfileInfoPicture_profile {
        width: $pic_width_500;
        height: 1rem;
    }
    .ProfileInfoPicture_profile_contain {
        img {
            width: $pic_width_500;
            height: $pic_width_500;
        }
    }
}