.ProfileInfoPicture {
    width: 160px;
}

.ProfileInfoPicture_link-story {
    border: 3px solid var(--blue);
}
// .
.ProfileInfoPicture_img {
    border: 3px solid var(--white);
}

// --------

.device-mobile {
    .ProfileInfoPicture {
        width: 100%;
        height: 75px;
    }

    .ProfileInfoPicture_contain {
        transform: translateX(-50%);
        left: 50%;
        width: 120px;
        height: 120px;
    }

    .ProfileInfoPicture_link {
        height: 100%;
    }

    .ProfileInfoPicture_img{
        height: 100%;
    }
}
