.FixAll {
    width: 500px;
    
    .FixAll_item {
        width: 100%;
    }
}

.FixAll-md {
    width: 900px;

    .FixAll_item {
        width: 50%;
    }
}

.FixAll-lg {
    width: 1200px;

    .FixAll_item {
        width: 33.33%;
    }
}
