/* -------------- FIX ------------------ */
.FixAll_content{
    max-height: calc(100vh - 0rem);
    overflow-y: auto;
}

// close
.FixAll_close{
    display: flex;

    border-bottom: 1px solid var(--bg-blur);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}
// .
.FixAll_arrowLeft{
    padding: 0.3rem 0.8rem;
    background-color: var(--danger);
    cursor: pointer;
}


// 
@media (max-width: 300px) {
    .FixAll_arrowLeft {
        padding: 0.15rem 0.5rem;
    }
}