// .
.PicNameImg {
    width: 2.5rem;
    height: 2.5rem;
}
.PicNameImg-story {
    padding: 2px;
    border: 2px solid;
}
.PicNameImg-story_new {
    border-color: var(--blue);
}
.PicNameImg-story_seen {
    border-color: var(--md-bg-ccc);
}
