.FsIGift_not_fetched{
    height: 280px;
}

.FsIGift{
    padding: 24px 30px;
}

.FsIGift_head{
    margin-bottom: 20px;
}

// .
.FsIGift_foot_item{
    width: 160px;
    margin-right: 10px;
    max-width: 40%;
}
// .
.FsIGift_foot_plus{
    margin: 0 50px 0 40px;
}
