//
.PLDetail_notice-success {
    width: 250px;
    max-width: 95vw;
    height: 150px;
}

.PLDetail_relative{
    margin-bottom: 30px;
}

.PLDetail_seen{
    margin-bottom: 30px;
}

.PLDetail_comment{
    width: 800px;
    padding: 10px 24px;
}
