.PLPhonesTopBanner_not_fetched{
    height: 200px;
}

.PLPhonesTopBanner_row{
    height: 200px;
}

.PLPhonesTopBanner_carousel{
    width: 66.67%;
}

.PLPhonesTopBanner_promote{
    width: 33.33%;
}
// ..
.PLPhonesTopBanner_promote_item{
    width: 100%;
    height: 48%;
}