//
.FashionItemCmtItem_text {
    margin-left: 1rem;
}

.FashionItemCmtItem_images {
    display: flex;
    width: 25rem;
    max-width: 100%;
    overflow: auto;
}
.FashionItemCmtItem_image {
    margin: 0.25rem;
    video,
    img {
        height: 3rem;
        width: 3rem;
        border-radius: 5px;
        object-fit: cover;
    }
}
