%top-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%div-icon{
    padding: 0.5rem 0.3rem;
}

/* ----------------------- */

.NextPrevDiv_btn_none{
    display: none;
}

/* ----------------------- */

.NextPrevDiv_next {
    right: 0;
    @extend %top-center;
}
// .
.NextPrevDiv_next_icon {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.NextPrevDiv_prev {
    left: 0;
    @extend %top-center;
}
// .
.NextPrevDiv_prev_icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

// .
.NextPrevDiv_icon{
    @extend %div-icon;
}
// .
.NextPrevDiv_icon_circle{
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.25rem;
    
    transition: transform 250ms;
    &:hover{
        transform: scale(1.25);
    }

    svg{
        width: 1rem;
        height: 1rem;
    }
}

//
@media (max-width: 500px) {
    .NextPrevDiv_icon{
        padding: 0.25rem;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}
