// .
.NextPrevDiv_icon-circle {
    width: 1.75rem;
    height: 1.75rem;

    transition: transform 250ms;
    &:hover {
        box-shadow: var(--box-shadow-fb);
        transform: scale(1.5);
    }
}

// .
.NextPrevDiv_icon-rect {
    width: 35px;
    height: 60px;
    background: #00000052;

    svg {
        stroke: var(--white);
    }
}
.NextPrevDiv_icon-rect-next {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.NextPrevDiv_icon-rect-prev {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

//
@media (max-width: 500px) {
    .NextPrevDiv_icon {
        padding: 0.25rem;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}
