.CommentPost-cmt {
    padding-left: 40px;

    .CommentPost_pic {
        top: 2px;

        img {
            width: 32px;
            height: 32px;
        }
    }
}
.CommentPost-sub {
    padding-left: 32px;

    .CommentPost_pic {
        top: 6px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}
