// input
.CommentPost {
    position: relative;
    padding-left: 2.5rem;
    width: 100%;
}
//
.CommentPost_user {
    position: absolute;
    top: 0;
    left: 0;
}

//
@media (max-width: 500px) {
    .CommentPost {
        position: relative;
        padding-left: 2rem;
    }
}
