.FashionBC {
    user-select: none;
}

.FashionBC_row {
    justify-content: space-around;
}
//
.FashionBC_carousel {
    width: 40rem;
    max-width: 95vw;
    height: 15rem;
    overflow: hidden;
}

//
@media (max-width: 1000px) {
    .FashionBC_right {
        display: none;
    }
}
