// .
.FashionBC_carousel {
    width: 66%;

    &:hover {
        .BtnNexPrev {
            opacity: 1;
        }
    }

    .BtnNexPrev {
        transition: all 200ms ease-in;
        opacity: 0;
    }
}
// ..
.FashionBC_carousel_contain {
    padding-top: 33%;
}

// .
.FashionBC_right {
    width: 33%;
}
// ..
.FashionBC_right_contain {
    padding-top: 66%;
}

//
@media (max-width: 1000px) {
    .FashionBC_carousel {
        width: 100%;
    }
    .FashionBC_right {
        display: none;
    }
}
