.FashionBC {
    user-select: none;
}

//
.FashionBC_carousel {
    width: 66%;
    height: 15rem;
    overflow: hidden;
}
// .
.FashionBC_right{
    width: 33%;
}

//
@media (max-width: 1000px) {
    .FashionBC_carousel{
        width: 100%;
    }
    .FashionBC_right {
        display: none;
    }
}
