.NewFeedStory {
    margin: 0 auto;
    width: 650px;
    max-width: 100%;
}

.NewFeedStory_contain {
    padding-bottom: 0.5rem;
}

.NewFeedStory_item {
    position: relative;
    margin: 0 4px;
    height: 220px;
    width: 120px;
    flex-shrink: 0;
}

//
.device-mobile {
    .NewFeedStory {
        padding: 4px;
        border-radius: 0;
        background-color: var(--md-bg-primary);
        box-shadow: var(--box-shadow-1);
    }
    // .
    .NewFeedStory_contain {
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 0;
        }
    }

    @media (max-width: 500px) {
        .NewFeedStory_item {
            width: 85px;
            height: 155px;
        }
    }

    @media (max-width: 350px) {
        .NewFeedStory_item {
            width: 75px;
            height: 135px;
            font-size: 13px;
        }
    }
}
