// ----

.device-mobile {
    .WatchHomeNewItem {
        padding: 0;
    }

    .WatchHomeNewItem_img {
        width: 40px;
        height: 40px;
    }

    .WatchHomeNewItem_title {
        font-size: 15px;
    }
}
