// .
.FashionHR_cart {
    .IconsMenu {
        stroke: var(--white);
    }
}
// ..
.FashionHR_cart-count {
    position: absolute;
    top: -5px;
    right: 5px;
}

// -----

.device-mobile{
    .FashionHR{
        svg{
            width: 20px;
            height: 20px;
        }

        .IconFriend{
            stroke: none;
        }
    }
}
