.FashionBuy_buying {
    cursor: wait;
}

.FashionBuy_body {
    margin: 0 2rem;
}
//
.FashionBuy_product {
    margin: 1rem 0;
}
.FashionBuy_current {
    margin: 0.5rem 0;
    & > div > div {
        padding: 0.5rem;
    }
}
.FashionBuy_total {
    margin: 0.5rem 0;
}
