.FsSearchFilterShop{
    background-size: cover;
    background-repeat: no-repeat;
}

// ..
.FsSearchFilterShop_pic_img{
    border: 4px solid var(--white);
}

.FsSearchFilterShop_chat{
    border: 1px solid currentColor;

    .IconsMenu_message-out{
        stroke: currentColor;
        fill: none;
    }
}