// 
.FashionOwner_{
    &left{
        width: 20rem;
    }
    
    &right{
        padding-left: 4rem;
    }
    
    
    //
    @media (max-width: 1000px){
        &right{
            .ShopActivity_col{
                width: 50%;
            }
        }
    }

    @media (max-width: 800px){
        &row{
            display: block;
        }
        // .
        &left{
            width: 100%;
        }
        // .
        &right{
            padding: 0.5rem;
            .ShopActivity_col{
                width: 33.33%;
            }
        }
    }

    @media (max-width: 650px){
        // .
        &right{
            .ShopActivity_col{
                width: 50%;
            }
        }
    }

    @media (max-width: 450px){
        // .
        &right{
            .ShopActivity_col{
                width: 100%;
            }
        }
    }
}
