.GroupRowCardsFit {
    // ----
    .NextPrevDiv_next {
        transform: translate(50%, -50%);
        z-index: 2;
    }

    .NextPrevDiv_prev {
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .NextPrevDiv_icon-circle{
        width: 36px;
        height: 36px;
    }

    .BtnNexPrev  {
        border: 1px solid var(--md-bg-blur);
    }
}
