
//
.PaymentChoices{
    position: relative;
}

//
.PaymentChoices_body{
    max-height: calc(95vh -3rem);
    overflow: auto;
}

//
.PaymentChoices_close{
    position: absolute;
    right: 5px;
    top: 5px;
}
.PaymentChoices_close-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--danger);
    cursor: pointer;
}