
.ProfilePost{
    padding-top: 0.5rem;
}

.ProfilePost_row {
    display: flex;
    justify-content: center;
}
// .
.ProfilePost_col {
    width: 40%;
}

// 
@media (max-width: 1400px) {
    .ProfilePost_col {
        width: 45%;
    }
}

@media (max-width: 1100px) {
    .ProfilePost_col {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .ProfilePost_col {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .ProfilePost_col {
        width: 95%;
    }
}

@media (max-width: 300px) {
    .ProfilePost_col {
        width: 100%;
    }
}
