// .
.ScreenStoryItemCenter_item {
    width: 100%;
    height: 30rem;
    max-height: 100%;
}

// .
.ScreenStoryItemCenter_viewer_list {
    z-index: 2;
}
// .
.ScreenStoryItemCenter_bottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
}
// ..
.ScreenStoryItemCenter_link{
    &:hover{
        text-decoration-line: underline;
    }
}

//
@media (max-width: 350px) {
    .ScreenStoryItem_wh {
        height: 100%;
    }

    .StoryItem {
        border-radius: 0;
    }

    .StoryViewerList {
        border-radius: 0;
    }
}
