// -----
.device-mobile {
    .FbSearchPageRelated {
        padding: 8px;

        .IconsInput {
            width: 20px;
            height: 20px;
        }
    }

    .FbSearchPageRelated_title {
        font-size: 16px;
    }

    .FbSearchPageRelated_contain {
        font-size: 14px;
    }
}
