
//
.VoucherChoice{
    padding: 4px;
    border-bottom: 1px solid var(--md-bg-blur);
}

// ..
.VoucherChoice_img{
    margin-right: 0.5rem;
}

// ..
.VoucherChoice_radio{
    width: 4rem;
}

// .
.VoucherChoice_time{
    position: absolute;
    right: 4rem;
    top: 0;
}

// .
.VoucherChoice_condition{
    position: absolute;
    right: 4rem;
    bottom: 0.25rem;
}


//
@media (max-width: 500px){
    .VoucherChoice_time{
        right: 3rem;
    }

    .VoucherChoice_condition{
        right: 0.25rem;
        bottom: 0.1rem;
        font-size: 12px;
    }
}