
//
.VoucherChoice_contain{
    position: relative;
    border-bottom: 1px solid var(--md-bg-blur);
}

//
.VoucherChoice_row{
    display: flex;
    align-items: center;
}
.VoucherChoice_detail{
    flex-grow: 1;
    padding: 0.5rem;
}
.VoucherChoice_radio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
}

//
.VoucherChoice_condition{
    position: absolute;
    right: 4rem;
    bottom: 0.25rem;
}


//
@media (max-width: 500px){
    .VoucherChoice_condition{
        right: 0.25rem;
        bottom: 0.1rem;
        font-size: 12px;
    }
}