//
.CommentInput_contain {
    border-radius: 15px;
}
// ..
.CommentInput_input {
    flex-basis: 1rem;
    padding-left: 0.75rem;
}

// ..
.CommentInput_files {
    align-self: flex-end;
    padding-right: 0.25rem;
}

// preview
.CommentInput_preview {
    .ImgVidPreview {
        display: flex;
        .ImgVidPreview__elm {
            position: relative;
            margin: 0.25rem;
        }
    }
}

//
@media (max-width: 600px) {
    // ....
    .CommentInput__send {
        display: block;
    }
}
