//
.CommentInput_contain {
    border-radius: 18px;
}

// .
.CommentInput_input {
    flex-basis: 16px;
    padding-left: 12px;
}
// ..
.CommentInput_textarea {
    min-height: 24px;
    padding: 6px 0;
}

// ..
.CommentInput_files {
    align-self: flex-end;

    .InputFile-circle {
        width: 36px;
        height: 36px;
    }
}

// preview
.CommentInput_preview {
    .ImgVidPreview {
        display: flex;
        .ImgVidPreview__elm {
            position: relative;
            margin: 0.25rem;
        }
    }
}
