.StoryBtnCreatePc{
    border-bottom: 1px solid var(--md-bg-ccc);
}

.StoryBtnCreatePc_left{
    margin-right: 0.5rem;
}

// .
.StoryBtnCreatePc_left_contain{
    width: 3rem;
    height: 3rem;
    transform: rotate(45deg);

    .IconsArrow_close{
        stroke: var(--blue);
    }
}