
.ListNotices_mark-all{
    padding: 4px;
    border-bottom: 5px solid var(--md-bg-ccc);
    border-top: 5px solid var(--md-bg-ccc);

    text-align: center;
    user-select: none;
    cursor: pointer;
}