
.ListNotices_mark-all{
    border-bottom: 5px solid var(--md-bg-ccc);
    border-top: 5px solid var(--md-bg-ccc);

    text-align: center;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
}