// -----

.device-mobile {
    .WatchHomeNew_title{
        font-size: 15px;
        padding: 0 8px;
    }

    .WatchHomeNew_list{
        padding: 0 8px;
    }
    // .
    .WatchHomeNew_item {
        width: 100%;
    }
}
