.FashionBody_title {
    margin-bottom: 0.25rem;
}

.FashionBody_title_item-active{
    border-bottom: 2px solid var(--fashion-head);
}

.FashionBody_item {
    width: 198px;
}

.FashionBody_more{
    width: 400px;
    max-width: 100%;
    border: 1px solid var(--md-bg-blur);
}

//
@media (max-width: 400px) {
    .FashionBody_item {
        width: 50%;
    }
}
