.FashionFaceItemFoot_tag {
    line-height: 1rem;
}

// ..
.FashionFaceItemFoot_heart {
    .IconHeart {
        width: 1rem;
        height: 1rem;
    }

    .IconHeart_face {
        fill: none;
    }
    .IconHeart_heart {
        fill: var(--md-bg-blur);
    }
}

//
@media (max-width: 350px) {
    .FashionFaceItemFoot {
        padding: 4px;
    }
}
