.FashionFlashSaleBar_bg_contain{
    background-color: #FFBDA6;
}

.FashionFlashSaleBar_bg_sold{
    background-size: 100%;
    background-position: 0%;
    background-repeat: no-repeat;
    object-fit: cover;
}
