//
.FashionHC_input{
    .InputSearch_contain{
        width: 100%;
    }
    .InputSearch_input input{
        padding: 0.5rem;
    }
}

//
.FashionHC_search-row{
    display: flex;
    justify-content: space-around;
}
.FashionHC_word{
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    &:hover{
        background-color: var(--fashion-hover);
        color: var(--white);
    }
}