.FsPPOrderActions {
    background-color: rgb(255, 252, 245);
}

.FsPPOrderActions_thank {
    padding: 12px 24px;
}

.FsPPOrderActions_contact {
    padding: 12px 24px;
}

// .
.FsPPOrderActions_btn {
    width: 220px;
    height: 40px;
}
