//
.FashionItemCmt_ {
    &left{
        flex-grow: 1;
        flex-basis: 300px;
        max-width: 100%;
    }
    &right{
        width: 300px;
    }
    //
    &skeleton {
        margin: 0.5rem;
    }
    // .
    &skeleton-user {
        width: 12rem;
    }
    &skeleton-content {
        width: 20rem;
        max-width: 95%;
    }

    //
    &pages {
        margin-bottom: 0.5rem;
    }
    // .
    &page {
        margin-left: 2px;
        line-height: 2rem;
        width: 2rem;
        text-align: center;
        border-radius: 5px;
        background-color: var(--md-bg-ccc);
        &:hover {
            cursor: pointer;
            background-color: var(--blue);
        }
    }
    &page-active {
        background-color: var(--blue);
        color: white;
    }

    &input {
        width: 40%;
    }

    //
    @media (max-width: 1150px) {
        &right{
            width: 250px;
        }
    }

    @media (max-width: 1000px) {
        &right {
            display: none;
        }
    }

    @media (max-width: 1000px) {
        &input {
            width: 50%;
        }
    }

    @media (max-width: 800px) {
        &input {
            width: 60%;
        }
    }

    @media (max-width: 500px) {
        &input {
            width: 100%;
        }
    }
}
