.device-mobile{
    .FbSearchPageVideoItem {
        padding: 8px;
        line-height: 18px;
    }

    .FbSearchPageVideoItem_thumbnail{
        width: 100px;
        height: 60px;
    }
    .FbSearchPageVideoItem_time{
        padding: 2px;
        font-size: 12px;
    }
}