.ProfilePicture{
    margin: 0 10%;
    .ProfilePicture_titles{
        display: flex;
        justify-content: center;
        .ProfilePicture_title{
            padding: 0.5rem;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                background-color: var(--md-bg-hover);
            }
            &:not(:last-child){
                border-right: 1px solid var(--teal);
            }
        }
    }

    .ProfilePicture_pictures{
        display: flex;
        .ProfilePicture_pic{
            width: 10rem;
            margin: 0.5rem;
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px){
    .ProfilePicture{
        margin: 0 10%;
        .ProfilePicture_titles{
            display: block;
            max-height: 10rem;
            overflow: auto;
            .ProfilePicture_title{               
                border-right: 1px solid var(--teal);                
            }
        }
    
        .ProfilePicture_pictures{
            display: flex;
            .ProfilePicture_pic{
                width: 5rem;
                margin: 0.3rem;
                img{
                    width: 100%;
                }
            }
        }
    }
}