.ActionPreviewProfilePc_contain {
    width: 400px;
    padding: 16px;
}

.ActionPreviewProfilePc_right {
    svg {
        flex-shrink: 0;

        margin: 2px 10px 0 0;
        width: 20px;
        height: 20px;
    }
}

.ActionPreviewProfilePc_btn {
    margin: 0 4px;
}
.ActionPreviewProfilePc_btn_main {
    button {
        width: 100%;
    }
}
