.PostHeadAction_list-pc {
    width: 18rem;
    max-width: 100vw;
}

.PostHeadAction_list-mb {
    max-height: calc(100% - 60px);
}

// -----

.device-mobile {
    .PostHeadAction {
        .ActionsBtnToggle_icon {
            width: 27px;
            height: 27px;
        }

        .IconThreeDot {
            width: 16px;
            height: 16px;
        }
    }
}
