.BadgeDiv {
    width: 1rem;
    height: 1rem;
    background-color: var(--danger);

    font-size: 9px;
    font-weight: 500;
    color: var(--white);

    user-select: none;
    overflow: hidden;
}

//
@media (max-width: 500px) {
    .BadgeDiv {
        width: 14px;
        height: 14px;
        
        font-size: 8px;
    }
}
