.CUPHomeContentMb_input-color {
    .CUPHomeContentMb_textarea {
        min-height: 100px;
    }
}

.CUPHomeContentMb_input-bg {
    height: 250px;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    .CUPHomeContentMb_textarea {
        max-width: 80%;
        max-height: 80%;
        text-align: center;
    }
}

.CUPHomeContentMb_bg_item{
    width: 32px;
    height: 32px;
}
