.CUPHomeContentMb_input-color {
    .CUPHomeContentMb_textarea {
        min-height: 100px;
    }
}

.CUPHomeContentMb_input-bg {
    min-height: 200px;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    .CUPHomeContentMb_textarea {
        max-width: 80%;
        max-height: 300px;
        text-align: center;
    }
}
