// width of chat
%chat-width {
    width: 20rem;
    max-width: 100vw;
}

// 
.ChatWd {
    position: fixed;
    bottom: 0;
    right: 25rem;
}
.ChatWd_second {
    transform: translateX(105%);
}
.ChatWd_single {
    transform: translateX(105%);
}

// .
.ChatWd_reverse {
    position: absolute;
    bottom: 100%;
    right: 10%;

    padding: 0.2rem 0.5rem;
    background-color: var(--gold);
    color: var(--white);
    cursor: pointer;
}

// .
.ChatWd_contain {
    position: relative;
    @extend %chat-width;
    overflow: hidden;
    background-color: var(--md-bg-primary);
}

// ...
.ChatWd_group {
    z-index: 2;
    width: 100%;
}

// ..
.ChatWd_body {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

// ..
.ChatWd_footer {
    position: relative;
    z-index: var(--z-index-lv1);
    @extend %chat-width;
}

// ..
.ChatWd_actions {
    z-index: var(--z-index-lv2);
}

//
@media (max-width: 700px) {
    //
    .ChatWd {
        right: auto;
        left: calc((100vw - 20rem) / 2);
    }
    .ChatWd_reverse-display {
        display: block;
    }

    .ChatWd_second {
        display: none;
    }
    .ChatWd_single {
        transform: translateX(0);
    }

    //
    .ChatWd_body {
        .ChatWd_body-mess {
            margin: 1rem 1.25rem 1rem 0.5rem;
        }
    }
}

@media (max-width: 22rem) {
    .ChatWd {
        z-index: var(--z-index-lv1);
        left: auto;
        right: auto;
    }
}

@media (max-width: 20rem) {
    .ChatWd_contain {
        border-radius: 0;
    }
}
