
.ProductFilter {
    border-top: 2px solid var(--bg-blur);
}

// ..
.ProductFilter_col {
    width: fit-content;
    padding: 0.5rem 1rem;
}

// .
.ProductFilter_btn {
    padding: 0.5rem;
    button {
        border: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
}