.CUPostHomeContent_input{
    min-height: 150px;
    cursor: text;
}
.CUPostHomeContent_input-bg{
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .CUPostHomeContent_textarea{
        max-width: 75%;
        max-height: 80%;

        text-align: center;
    }
}
.CUPostHomeContent_input-img{
    min-height: auto;
}

// .
.CUPostHomeContent_textarea {
    resize: none;
    overflow: hidden;
}

// ----

.CUPostHomeContent_preview {
    &:hover {
        .CUPostHomeContent_preview_bg {
            display: block;
        }

        .CUPostHomeContent_fix {
            display: block;
        }
    }
}
// .
.CUPostHomeContent_preview_contain {
    .ImgVidPreviewItem {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .ImgVidPreviewItem_delete {
        display: none;
    }
}

.CUPostHomeContent_edit {
    left: 12px;
    top: 12px;
}

.CUPostHomeContent_del {
    top: 12px;
    right: 12px;

    width: 27px;
    height: 27px;

    .IconsArrow_close {
        stroke: var(--md-color-secondary);
    }
}
