.LearnPreviewProfile_like {
    overflow: visible;
    background-color: transparent;
    box-shadow: none;

    .ListTypeLike_contain {
        padding: 2px 5px;
    }

    .IconsTypeLike {
        width: 20px;
        height: 20px;
    }
}
