.LearnPreviewProfile_current_like {
    .IconsTypeLike {
        width: 32px;
        height: 32px;
    }
}

.LearnPreviewProfile_like {
    overflow: visible;
    background-color: transparent;
    box-shadow: none;

    .ListTypeLike_row {
        padding: 2px 5px;
    }

    .IconsTypeLike {
        width: 32px;
        height: 32px;
    }
}
