.FashionRate_head-mb{
    border-bottom: 1px solid var(--md-bg-blur);
}

//
.FashionRate_title {
    width: 3rem;
}

.FashionRate_rate {
    min-width: 3rem;
    text-align: end;
}

.FashionRate_rate-user {
    margin-right: 0.25rem;
}

.FashionRate_foot_all{
    .IconsArrow_next{
        stroke: currentColor;
    }
}
