// --------
$vc-side-width: 10;
$card-height: 120px;

// ----------

.FsFreeShipCard{
    border-top: 1px solid var(--md-bg-blur);
    border-right: 1px solid var(--md-bg-blur);
    border-bottom: 1px solid var(--md-bg-blur);
}

// -------- LEFT

.FsFreeShipCard_left {
    width: $card-height;
    height: $card-height;
}

// .
.FsFreeShipCard_voucher_side {
    width: #{$vc-side-width}px;
    background-image: radial-gradient(
        circle,
        var(--md-bg-primary),
        var(--md-bg-primary) 50%,
        transparent,
        transparent
    );
    background-repeat: repeat-y;
    background-size: #{$vc-side-width}px #{$vc-side-width}px;
}

// -------- CENTER

// .
.FsFreeShipCard_payment {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-height: 1.25rem;
    max-height: 2.65rem;
}

// .
.FsFreeShipCard_transporter {
    border: 1px solid currentColor;
}

// -------- RIGHT

.FsFreeShipCard_right {
    height: $card-height;
}
