.group-settings-item-title {
    line-height: 20px;
    font-weight: 600;
}

.group-settings-item-info {
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
    color: var(--md-color-secondary);
}
