.PLDetail-mobile{
    .PhoneDetailHead{
        padding: 10px;
    }

    .PhoneDetailHead_row{
        display: block;
    }

    .PhoneDetailHead_left{
        display: block;
    }
    // .
    .PhoneDetailHead_name{
        margin-right: 0;
    }
    // .
    .PhoneDetailHead_rate_compare{
        margin: 5px 0;
    }
    // ..
    .PhoneDetailHead_compare{
        margin-left: auto;
    }
    
    // ..
    .PhoneDetailHead_like_share{
        font-size: 12px;
    }
}