.PLDetail-mobile {
    .PLDetail_breadcrumb{
        padding: 10px;
    }
    
    .PLDetail_comment {
        width: 100%;
        padding: 10px;
    }

    .PLDetail_seen{
        margin-bottom: 15px;
    }

    // -----

    .PLDetailOldProduct {
        padding: 10px;
    }
}
