.PLDetail-mobile {
    .PLDOnePrice {
        padding: 0 10px;
    }

    .PLDOnePrice_new{
        font-size: 16px;
    }

    .PLDOnePrice_old{
        font-size: 14px;
    }

    .PLDOnePrice_discount{
        font-size: 14px;
    }

    .PLDOnePrice_installment{
        font-size: 12px;
    }
}
