//
.ZoomUser {
    &:not(:last-child) {
        margin-bottom: 0.25rem;
        border-bottom: 1px solid var(--md-bg-ccc);
    }
}

//
.ZoomUser_row {
    .IconsArrow_close {
        stroke: var(--danger);
    }
}
