.FashionTrendItem_left {
    width: 1rem;
}

//
@media (max-width: 700px) {
    .FashionTrendItem_right_img {
        width: 62px;
        height: 62px;
    }
    .FashionTrendItem_left_count{
        font-size: 12px;
    }
}
