
.NewFeed_contain{
    padding: 0 0.5rem;
}

.NewFeed_row {
    display: flex;
    justify-content: space-between;
}
// .
.NewFeed_col-left {
    margin-right: 0.5rem;
    width: 300px;
}
// .
.NewFeed_col-center{
    width: 500px;
}
// .
.NewFeed_col-right{
    margin-left: 0.5rem;
    width: 300px;
}
