.FriendsAllFriend{
    .BtnProfileActions {
        width: 36px;
        padding: 0;
        border-radius: 50%;
        background-color: transparent;

        &:hover{
            background-color: var(--md-bg-fb);
        }
    }
}