
.ProductContent{
    padding: 0.5rem;
    background-color: var(--md-bg-primary);
}
// .
.ProductContent_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
// ..
.ProductContent_item{
    padding: 0.25rem;
    border: 1px solid var(--md-bg-ccc);
}
