.FashionPersonal-mobile {
    .FsPersonalChangePass {
        padding: 0 10px 10px;
    }

    .FsPChangePassHead {
        padding: 10px 0;
    }

    .FsPersonalChangePass_form {
        margin-top: 25px;
    }

    // ------
    .FsPChangePassForm {
        width: 100%;
    }
    .FsPChangePassForm_row {
        display: block;
    }

    // .
    .FsPChangePassForm_forget {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }
}
