.FsPPurShopHead_chat{
    .IconsMenu_message-out{
        fill: none;
        stroke: currentColor;
    }
}


.FsPPurShopHead_transport{
    color: #00bfa5;
}
// .
.FsPPurShopHead_transport_separate{
    width: 1px;
    height: 16px;
    background-color: var(--md-bg-blur);
}
