.add-friend-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-friend-item {
    margin: 0.5rem;
    width: 22rem;
    max-width: 100%;
}

.add-friend-item-contain {
    height: 100%;
    padding: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
    border-radius: 8px;
}

//
@media (max-width: 22rem) {
    .add-friend-item {
        margin: 0.5rem 0;
    }

    .add-friend-item-contain{
        border-radius: 0;
    }
}
