.add-friend-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-friend-item {
    padding: 0.5rem;
    width: 400px;
    // max-width: 100%;
}

.add-friend-item-contain {
    height: 100%;
    padding: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
    border-radius: 8px;
}

.device-mobile {
    //
    @media (max-width: 850px) {
        .add-friend-item {
            width: 50%;
        }
    }

    //
    @media (max-width: 500px) {
        .add-friend-item {
            width: 100%;
        }
    }
}
