.ProfilePreview_pic {
    margin: 16px 0;
}

// ------

.device-mobile {
    .ProfilePreview_preview {
        padding-bottom: 0;
    }

    .ProfilePreview_pic{
        margin: 0;
        border-top: 1px solid var(--md-bg-blur);
        border-bottom: 1px solid var(--md-bg-blur);
    }
}
