

.FsCartItem_check{
    min-width: 58px;
}

.FsCartItem_product{
    width: 29%;
}

.FsCartItem_type{
    width: 17.2%;
}

.FsCartItem_price{
    width: 15.8%;
}

.FsCartItem_count{
    width: 15.4%;
}

.FsCartItem_total{
    width: 10.4%;
}

.FsCartItem_del_search{
    width: 12.7%;
}
