.device-mobile {
    .FriendsBirthMonth {
        padding: 10px;
        border-radius: 0;
    }
    // .
    .FriendsBirthMonth_title {
        font-size: 16px;
    }

    .FriendsBirthMonth_foot {
        margin-top: 10px;

        img {
            width: 40px;
            height: 40px;
        }
    }
}
