.FashionHomeFlashSale_not_fetched{
    height: 250px;
}

.FashionHomeFlashSale_head {
    // height: 3.75rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
// .
.FashionHomeFlashSale_title {
    width: 135px;
    height: 30px;

    background-repeat: no-repeat;
    background-size: 100%;
}

// .
.FashionHomeFlashSale_item {
    flex-shrink: 0;
    width: 200px;
    padding: 2px;
}

//
@media (max-width: 500px) {
    // .
    .FashionHomeFlashSale_item {
        width: 150px;
    }

    .FashionFlashSaleItem{
        padding: 0;
    }
    .FashionFlashSaleItem_foot_price{
        font-size: 18px;
    }
}
