
.FsHotDealItem_head{
    width: 160px;
    padding-top: 100%;
}

.FsHotDealItem_foot{
    padding-top: 10px;
}
// .
.FsHotDealItem_foot_name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
