.FsPPurchaseHeadItem{
    border-bottom: 2px solid transparent;

    white-space: nowrap;

    &:hover{
        color: var(--fashion-head);
    }
}

.FsPPurchaseHeadItem-active{
    border-bottom: 2px solid currentColor;
}