

//
.PhoneLaptopType{
    max-height: 96vh;
    overflow: auto;
}

.PhoneLaptopType_new-price{
    margin-right: 0.5rem;
}
.PhoneLaptopType_old-price{
    text-decoration: line-through;
}

//
.PhoneLaptopType_list{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

//
.PhoneLaptopType_bottom_promotion{
    white-space: pre-wrap;
}

//
.PhoneLaptopType_close{
    position: absolute;
    top: 5px;
    right: 5px;
}
