/* --------------------------------- */
.ProductsAnimate {
    width: 100%;
}

.ProductsAnimate_margin {
    margin-bottom: 2rem;
}
.ProductsAnimate_contain {
    position: relative;
    margin: auto;
    width: 60rem;
    max-width: 98vw;
    overflow: hidden;

    background-color: var(--md-bg-through);
}

.ProductsAnimate_title {
    background-color: var(--danger);
    color: white;
}

.ProductsAnimate_row {
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    transition: transform 1s;
}

// 
@media (max-width: 959px) {
    .ProductsAnimate_contain {
        width: 48rem;
    }
}

@media (max-width: 767px) {
    .ProductsAnimate_contain {
        width: 36rem;
    }
}

@media (max-width: 500px) {
    .ProductsAnimate_contain {
        width: 24rem;
    }
}

@media (max-width: 350px) {
    .ProductsAnimate_contain {
        width: 14rem;
    }
}

@media (max-width: 280px) {
    //
    .ProductsAnimate_contain {
        width: 13rem;
    }
}
