/* --------------------------------- */
.ProductsAnimate {
    width: 100%;
}

.ProductsAnimate_margin {
    margin-bottom: 2rem;
}
.ProductsAnimate_contain {
    position: relative;
    margin: auto;
    width: 60rem;
    max-width: 98vw;
    overflow: hidden;

    background-color: var(--md-bg-through);
}

.ProductsAnimate_title {
    background-color: var(--danger);
    color: white;
}

.ProductsAnimate_row {
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    transition: transform 1s;
}
