.FsPPOrderPayment{
    padding: 0 24px;
    border-top: 1px dotted var(--md-bg-blur);
    border-bottom: 1px dotted var(--md-bg-blur);
}

// .
.FsPPOrderPayment_right{
    width: 250px;
    border-left: 1px dotted var(--md-bg-blur);
}
