
.ShopCategory{
    margin: 1rem 0;
    max-width: 100vw;
    padding: 0 1rem;
    
    border-top: 1px solid var(--md-bg-ccc);
    border-bottom: 1px solid var(--md-bg-ccc);
    
    overflow-x: auto;
}

.ShopCategory_item{
    flex-shrink: 0;
    padding: 0.5rem 1rem;

    user-select: none;
    cursor: pointer;
    &:hover{
        color: var(--border-fashion);
    }
}
.ShopCategory_item-active{
    color: var(--border-fashion);
    border-bottom: 5px solid var(--border-fashion);
}