.TextareaNotSend{
    width: 100%;
    overflow-y: scroll;
    resize: none;

    background-color: transparent;
    border: none;
    outline: none;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: currentColor;
    }
}