//
.CountDownUpDiv_btn {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--md-bg-blur);

    font-weight: 500;
}
.CountDownUpDiv_btn_disabled {
    cursor: default;
}

.CountDownUpDiv_input {
    height: 2rem;
    width: 4rem;
    background-color: transparent;
    border: 1px solid var(--md-bg-blur);

    text-align: center;
    font-weight: 500;
}
