
.MouseEnterLeaveInfo{
    .PictureName{
        .PictureNameCommon_contain {
            color: var(--white);
        }
    }
}

.MouseEnterLeaveInfo_list {
    position: absolute;
    z-index: var(--z-index-lv1);

    width: 15rem;
}
