.LogoBank{
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 4px;
}

.LogoBank_side {
    border-color: var(--md-bg-primary) var(--md-bg-primary) transparent
        transparent;
}
