
.AddFriendBtn_row{
    display: flex;
    justify-content: space-around;
}
// .
.AddFriendBtn_col{
    width: 45%;
}
// ...
.AddFriendBtn_btn{
    padding: 5px;
    border: 1px solid var(--md-bg-ccc);
}
