.FashionPersonal-mobile {
    .FsPVcSuggested {
        padding: 0px;
        .FashionMallLike {
            font-size: 10px;
        }
    }

    .FsPVcSuggested_title {
        font-size: 16px;
        padding: 10px;
    }

    .FsPVcSuggested_row {
        padding: 5px;
    }

    .FsPVcSuggested_item {
        width: 100%;
        height: 90px;
        padding: 0;

        margin-bottom: 15px;
    }

    // -----

    .FsPVcSuggestedItem_left {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80px;
        font-size: 11px;

        .FsPVcSuggestedItem_left_link {
            padding: 0px;
        }
    }

    .FsPVcSuggestedItem_center {
        font-size: 12px;
        padding: 0px;
    }

    .FsPVcSuggestedItem_center_contain {
        padding: 5px;
    }

    .FsPVcSuggestedItem_right {
        width: 100px;
        padding: 5px;

        font-size: 12px;

        button {
            font-size: 12px;
        }
    }
}
