.FriendsBirthRight_item{
    width: 500px;
}

// ------

.device-mobile{
    .FriendsBirthRight{
        padding: 0;
    }

    .FriendsBirthRight_item {
        width: 100%;
        margin-bottom: 10px;
    }
}
