.ContentMore_contain {
    width: 100%;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: pre-wrap;
}

// .
.ContentMore_first {
    display: inline-block;
}

// .
.ContentMore_more {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}

// .
.ContentMore_fetching{
    width: fit-content;
    margin: auto;
}
// .ContentMore_line-clamp {
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
// }
