$chat-width: 328px;

// -----

.ChatShow {
    right: 25rem;
}
.ChatShow_second {
    transform: translateX(105%);
}
.ChatShow_single {
    transform: translateX(105%);
}

// .
.ChatShow_contain {
    width: $chat-width;
    height: 455px;
    max-height: calc(100vh - var(--height-header) - 10px);
}

// ..
.ChatShow_body {
    flex-basis: 1rem;
}

// ..
.ChatShow_footer {
    position: relative;
    z-index: var(--z-index-lv1);
}

// ..
.ChatShow_actions {
    z-index: var(--z-index-lv2);
}

//
@media (max-width: 700px) {
    //
    .ChatShow {
        right: auto;
        left: calc((100vw - $chat-width) / 2);
    }

    .ChatShow_second {
        display: none;
    }
    .ChatShow_single {
        transform: translateX(0);
    }

    //
    .ChatShow_body {
        .ChatShow_body-mess {
            margin: 1rem 1.25rem 1rem 0.5rem;
        }
    }
}

// ------

.device-mobile {
    .ChatShow {
        z-index: var(--z-index-lv4);
        left: auto;
        right: auto;
    }

    .ChatShow_contain {
        width: 100%;
        height: 100vh;
        max-height: unset;
    }
}
