$chat-width: 328;

// -----

.ChatShow {
    right: #{$chat-width + 100}px;
}
.ChatShow_second {
    right: 50px;
}
.ChatShow_single {
    right: 50px;
}

// .
.ChatShow_contain {
    width: #{$chat-width}px;
    height: 455px;
    max-height: calc(100vh - var(--height-header) - 10px);
}

// ..
.ChatShow_body {
    flex-basis: 1rem;
}

// ..
.ChatShow_footer {
    position: relative;
    z-index: var(--z-index-lv1);
}

// ..
.ChatShow_actions {
    z-index: var(--z-index-lv2);
}

// ------

.device-mobile {
    .ChatShow {
        z-index: var(--z-index-lv4);
        left: auto;
        right: auto;
    }

    .ChatShow_contain {
        width: 100%;
        height: 100vh;
        max-height: unset;
    }
}
