
//
.PhoneLaptopBuying{
    margin: 1rem 0;
}
//
.PhoneLaptopBuying_row-btn{
    width: 20rem;
    max-width: calc(100vw - 1rem);
    text-align: center;
}
//
.PhoneLaptopBuying_btn{
    margin: auto;
    padding: 0.75rem;
    background-color: var(--btn-buy);

    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    &:hover{
        opacity: 0.95;
    }
}