.FashionPersonal-mobile {

    // -----

    .FsPPurchaseHeadItem {
        font-size: 14px;
    }

    // -----

    .FsPPurchaseRowSearch {
        padding: 5px;

        .IconsInput{
            width: 16px;
            height: 16px;
        }

        input{
            font-size: 13px;
        }
    }
}