.Profile_part {
    padding-bottom: 20px;
}

// -----

.device-mobile {
    .Profile_part {
        padding-bottom: 16px;
    }

    .Profile_more {
        position: static;
    }

    .Profile_main{
        margin-top: 16px;
    }
}
