.profile-route-contain {
    margin: 0 auto 1.5rem;
    width: 900px;
    max-width: 100%;

    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;

    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
}

.profile-route-title {
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
}

// ----

.device-mobile {
    .profile-route-contain {
        margin-bottom: 0;
        padding: 8px 0px;

        border-radius: 0;
    }

    .profile-route-title {
        font-size: 17px;
        font-weight: 600;
    }
}
