.FsPVoucherHistory {
    padding: 0px 30px;

    .FsPVoucherItem_left {
        filter: grayscale(1);
    }
}

.FsPVoucherHistory_title {
    padding: 24px 0px;
}

.FsPVoucherHistory_menu_item {
    padding: 8px 44px;
    border-bottom: 2px solid transparent;
}
.FsPVoucherHistory_menu_item-active {
    border-bottom: 2px solid currentColor;
}
