.FsCIGiftPc_product{
    width: 34%;
    padding-left: 80px;
    img{
        width: 58px;
        height: 58px;
    }
}

.FsCIGiftPc_type{
    width: 22%;
}

.FsCIGiftPc_count{
    width: 40%;
}

.FsCIGiftPc_del_search{
    width: 14%;
}