.GroupDiscoverRow {
    padding-left: 64px;
    padding-right: 64px;

    .GroupRowCardsFit_item {
        width: 50%;
        padding-right: 5px;
    }
}

.GroupDiscoverRow_not_fetched {
    height: 450px;
}
