/* html */
// html {
    // scroll-behavior: smooth;
    // overflow-y: scroll !important;
// }

*,
::after,
::before {
    box-sizing: border-box;
}

//
body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

    color: var(--md-color);

    &[data-count-hidden] {
        overflow-y: hidden;
        &::-webkit-scrollbar{
            background-color: var(--bg-through);
        }
    }

    &.device-mobile[data-count-hidden]{
        overflow-y: hidden;
    }
}


svg {
    overflow: hidden;
    vertical-align: middle;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--md-color);
    background-color: var(--md-bg-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    // -webkit-font-feature-settings: normal;
    -webkit-text-fill-color: var(--md-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--md-bg-primary) inset;
    caret-color: var(--md-color);
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
img {
    vertical-align: middle;
}

/* ------------ APP -------------- */
.App {
    position: relative;
    overflow-y: auto;
}

.App_contain {
    background-color: var(--md-bg-fb);
    overflow-y: auto;
}

/* ------------ HEADER -------------- */
.AppHeader {
    // position: sticky;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-index-lv3);
}

/* ------------ CONTENT -------------- */
.AppContent {
    margin-top: calc(var(--height-header));
    // margin-top: 0.5rem;
    margin-bottom: 1rem;
    min-height: calc(100vh + 5rem - var(--height-header));
}

.AppNatureDrop {
    position: relative;
    z-index: var(--z-index-lv5);
}
