/* html */
html {
    background-color: var(--md-bg-fb);
    overflow-y: scroll;

    &[data-scroll-none-once] {
        overflow-y: hidden;
    }

    &[data-touch-none] {
        // touch-action: none;
        overflow-y: hidden;
    }

    // .
    &[data-fullscreen-hide-cursor] {
        cursor: none;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

//
body {
    margin: 0;
    // overflow-x: hidden;
    overscroll-behavior-y: none;

    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

    color: var(--md-color);

    &[data-count-hidden] {
        .App {
            position: fixed;
            width: 100%;
            z-index: -2;

            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &[data-hidden-scroll] {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &[data-hidden-app] {
        .App_contain {
            display: none;
        }
    }

    &[data-hidden-header] {
        .AppHeader {
            display: none;
        }
    }

    &[data-header-not-fixed-count] {
        .AppHeader {
            position: unset;
        }

        .AppContent {
            margin-top: 0;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: var(--md-bg-primary);
}

button {
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    // -webkit-font-feature-settings: normal;
    -webkit-text-fill-color: var(--md-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--md-bg-primary) inset;
    caret-color: var(--md-color);
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
img {
    vertical-align: middle;
}

/* ------------ APP -------------- */
.App {
    position: relative;
}

.App_contain {
    background-color: var(--md-bg-fb);
}

/* ------------ HEADER -------------- */
.AppHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: calc(var(--z-index-lv3) + 2);
}

/* ------------ CONTENT -------------- */
.AppContent {
    margin-top: calc(var(--height-header));
    // padding-bottom: 1rem;
    min-height: calc(100vh - var(--height-header));
}

.AppFixed {
    position: relative;
    z-index: calc(var(--z-index-lv3) + 1);
}

.AppNatureDrop {
    position: relative;
    z-index: var(--z-index-lv5);
}
