// --------- BORDER

.border-active {
    border: 1px solid var(--border-active);
}

.border-blue {
    border: 1px solid var(--blue);
}

.border-blur {
    border: 1px solid var(--md-bg-blur);
}

.border-hidden {
    border: 1px solid transparent;
}

.border-danger {
    border: 1px solid var(--danger);
}

.border-current {
    border: 1px solid currentColor;
}

.border-none {
    border: none;
}

// bottom
.bottom-blue {
    border-bottom: 2px solid var(--blue);
}

// style
.border-solid {
    border-style: solid;
}

//  px
.border-1px {
    border-width: 1px;
}

// COLOR

.border-cl-blur {
    border-color: var(--md-bg-blur);
}

.border-cl-current {
    border-color: currentColor;
}

// ------- SIDE

.border-bottom-blur {
    border-bottom: 1px solid var(--md-bg-blur);
}

.border-top-blur {
    border-top: 1px solid var(--md-bg-blur);
}

// ------- BORDER RADIUS

@for $i from 0 through 20 {
    .brs-#{$i}px {
        border-radius: #{$i}px;
    }

    .brs-#{$i}px-pc {
        border-radius: #{$i}px;
    }
}

.brs-5px-md {
    border-radius: 5px;
}

.brs-8px-md {
    border-radius: 8px;
}

.brs-50 {
    border-radius: 50%;
}

// --------- OUTLINE

.outline-none {
    outline: none;
}

// -----

.device-mobile {
    @for $i from 0 through 20 {
        .brs-#{$i}px-pc {
            border-radius: 0;
        }
    }
}
