.App_box_shadow {
    box-shadow: 0 0.25px 5px 1px var(--md-box-shadow);
}

.box-shadow-1 {
    box-shadow: var(--box-shadow-1);
}

.box-shadow-left-bar {
    box-shadow: var(--box-shadow-left-bar);
}

.box-shadow-action {
    box-shadow: var(--box-shadow-action);
}

.box-shadow-fb {
    box-shadow: var(--box-shadow-fb);
}

.box-shadow-filter-phone {
    box-shadow: 0 -2px 20px var(--shadow-2);
}
