//
.device-mobile {
    body {
        font-size: 14px;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 14px;
    }

    .hv-opacity {
        opacity: 1;
    }

    // .cursor-pointer, a{
    //     cursor: none;
    // }

    // ------ FASHION

    .font-for-fashion {
        font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light,
            Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    }

    .fashion-width {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
    }

    .fashion-head {
        min-width: auto;
        width: 100%;
    }

    .fashion-head-font {
        font-size: 14px;
        color: var(--color-555);
    }

    .fashion-head-padding {
        padding: 16px 8px;
    }
}
