/* --------- Display ------- */
.display-none {
    display: none;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.display-inherit{
    display: inherit;
}

/* --------- ALIGN ---------- */
.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-self-end {
    align-self: flex-end;
}

/* -------- COLUMN ------------ */
.col-reverse {
    flex-direction: column-reverse;
}

.flex-col {
    flex-direction: column;
}

/* ---------- FLEX -------------- */
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-basis-1rem {
    flex-basis: 1rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* ------- Justify ----------- */

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

/* ------- ROW -------- */
.row-reverse {
    flex-direction: row-reverse;
}

/* --------- Complex -------- */

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ---------- ORDER

.order--1 {
    order: -1;
}

// -------- webkit-box

.wk-box {
    display: -webkit-box;
}

.wk-box-vertical {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@for $i from 1 through 4 {
    .line-clamp-#{$i} {
        -webkit-line-clamp: #{$i};
    }
}

/* --------------------- CONTAIN -------------------------- */
.container {
    width: 100%;
    margin: auto;
}

/* --------------------- COL -------------------------- */
.col-12,
.col-lg-4,
.col-sm-6 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.col-12 {
    width: 100%;
}

// ----------- INLINE

.vertical-align-middle {
    vertical-align: middle;
}

// --------------

@media (min-width: 600px) {
    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 960px) {
    .col-lg-4 {
        width: calc(100% / 3);
    }
}

@media (max-width: 300px) {
    .col-12,
    .col-lg-4,
    .col-sm-6 {
        padding: 0;
    }
}
