.font-for-fashion {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--primary-08);

    .FetchingDiv_item {
        animation-name: fetching_div_fashion;
    }

    @keyframes fetching_div_fashion {
        0% {
            background-color: var(--fashion-head);
        }
        50% {
            background-color: var(--md-bg-ccc);
        }
        100% {
            background-color: transparent;
        }
    }
}

.fashion-width {
    width: 1200px;
    // max-width: 100%;
    margin: 0 auto;
}

.fashion-head {
    min-width: 1200px;
}

.fashion-head-font {
    font-size: 18px;
    color: var(--md-color-secondary);
}

.fashion-head-padding {
    padding: 16px;
}

.fashion-value-padding {
    padding: 1px 5px;
}

.fs-bg-voucher {
    background: linear-gradient(
        90deg,
        transparent 0,
        transparent 0.1875rem,
        #bbb 0
    );
}

.fs-item-border-bottom {
    margin: 0 25px;
    border-bottom: 1px solid var(--md-bg-blur);
}
