.font-for-fashion{
    font-family: Helvetica, Arial, sans-serif;
}

.fashion-width {
    width: 1200px;
    // max-width: 100%;
    margin: 0 auto;
}

.fashion-head-padding{
    padding: 16px;
}

.fashion-value-padding{
    padding: 1px 5px;
}

.fs-item-border-bottom{
    margin: 0 25px;
    border-bottom: 1px solid var(--md-bg-blur);
}