// ---------
.hv-cl-blue:hover {
    color: var(--blue);
}

.hv-cl-gold:hover {
    color: var(--gold);
}

.hv-cl-fashion:hover {
    color: var(--fashion-head);
}

// -------

.hv-opacity {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.hv-bg-icon {
    &:hover {
        background-color: var(--bg-icon);
    }
}

.hv-bg-hv {
    &:hover {
        background-color: var(--md-bg-hover);
    }
}

.hv-bg-blur {
    &:hover {
        background-color: var(--md-bg-blur);
    }
}

.hv-bg-s-through {
    &:hover {
        background-color: var(--bg-s-through);
    }
}

.hv-underline:hover{
    text-decoration: underline;
}
