// ---------- MARGIN
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-0 {
    margin: 0;
}

@for $i from 1 through 20 {
    .margin-#{$i}px {
        margin: #{$i}px;
    }

    .margin-x-#{$i}px {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .margin-y-#{$i}px {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }

    .margin-top-#{$i}px {
        margin-top: #{$i}px;
    }
    .margin-right-#{$i}px {
        margin-right: #{$i}px;
    }
    .margin-bottom-#{$i}px {
        margin-bottom: #{$i}px;
    }
    .margin-left-#{$i}px {
        margin-left: #{$i}px;
    }
}

// ---------- PADDING

@for $i from 0 through 20 {
    .padding-#{$i}px {
        padding: #{$i}px;
    }
    .padding-x-#{$i}px {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .padding-y-#{$i}px {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }

    .padding-left-#{$i}px {
        padding-left: #{$i}px;
    }
    .padding-top-#{$i}px {
        padding-top: #{$i}px;
    }
    .padding-right-#{$i}px {
        padding-right: #{$i}px;
    }
    .padding-bottom-#{$i}px {
        padding-bottom: #{$i}px;
    }
}

// top
.padding-top-100per {
    padding-top: 100%;
}

.padding-top-50per {
    padding-top: 50%;
}
