/* --------- ACTIVE --------- */

.active-scale-sm:active {
    transform: scale(0.95);
}

/* --------- BG BS HR ---------- */

.bg-primary {
    background-color: var(--md-bg-primary);
}

.bg-transparent {
    background-color: transparent;
}

.bg-skeleton {
    background-color: var(--bg-skeleton);
}

.bg-vid-pic {
    background-image: linear-gradient(
        to right,
        #121111,
        #545454,
        #545454,
        #131212
    );
}

.bg-loader {
    background-color: var(--bg-loader);
}

.bg-film {
    background-color: var(--bg-film);
}

.bg-fb {
    background-color: var(--md-bg-fb);
}

.bg-active-fb {
    background-color: var(--md-bg-active-fb);
}

.bg-ccc {
    background-color: var(--md-bg-ccc);
}

.bg-through {
    background-color: var(--md-bg-through);
}

.bg-screen {
    background-color: var(--md-bg-screen);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-react {
    background-color: var(--color-react);
}

.bg-fashion-head {
    background-image: linear-gradient(to bottom, #f53d2d, #f63);
}

.bg-fashion-carousel-active {
    background-color: var(--fashion-carousel-active);
}

.bg-shadow-1 {
    background-color: var(--shadow-1);
}

.bg-linear-45-success-tear {
    background-image: linear-gradient(45deg, var(--success), var(--blue-tear));
}

//
.bg-always-white {
    background-color: var(--white);
}

/* --------- Box Shadow ---------- */
.App_box_shadow {
    box-shadow: 0 0.25px 5px 1px var(--md-box-shadow);
}

.box-shadow-1 {
    box-shadow: var(--box-shadow-1);
}

.box-shadow-action {
    box-shadow: var(--box-shadow-action);
}

.box-shadow-fb {
    box-shadow: var(--box-shadow-fb);
}

/* hr */
.App_hr-bg {
    background-color: var(--hr-bg);
    border-top: 1px solid var(--md-bg-ccc);
}

/* none */
.App_hr-none {
    border: none;
}

/* ---------- BORDER ---------- */

/* border-radius */
.brs-5px {
    border-radius: 5px;
}

.brs-8px {
    border-radius: 8px;
}

.brs-50 {
    border-radius: 50%;
}

.brs-5px-md {
    border-radius: 5px;
}

.brs-8px-md {
    border-radius: 8px;
}

/* border */
.border-active {
    border: 1px solid var(--border-active);
}

.border-blue {
    border: 1px solid var(--blue);
}

.border-blur {
    border: 1px solid var(--bg-blur);
}

.border-hidden {
    border: 1px solid transparent;
}

.border-none {
    border: none;
}

/* border bottom */
.bottom-blue {
    border-bottom: 2px solid var(--blue);
}

/* ---------- CURSOR ----------*/
.cursor-pointer {
    cursor: pointer;
}

.cursor-wait {
    cursor: wait;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-move {
    cursor: move;
}

/* -------- HOVER ----------*/
.hv-cl-blue:hover {
    color: var(--blue);
}

.hv-opacity {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.hv-bg-icon {
    &:hover {
        background-color: var(--bg-icon);
    }
}

.hv-bg-hv {
    &:hover {
        background-color: var(--md-bg-hover);
    }
}

.hv-bg-blur {
    &:hover {
        background-color: var(--md-bg-blur);
    }
}

.hv-bg-s-through {
    &:hover {
        background-color: var(--bg-s-through);
    }
}

/* ----------- NavLink active -----------*/
.active-color {
    color: var(--blue);
}

.nav-active .nav-text {
    color: var(--blue);
}

.nav-active .nav-bottom {
    border-bottom: 2px solid var(--blue-blur);
}

.nav-active .nav-bottom:hover {
    border-bottom: 2px solid var(--blue);
}

/* --------- Margin ---------- */
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-0 {
    margin: 0;
}

.margin-left-5px {
    margin-left: 5px;
}

.margin-left-8px {
    margin-left: 8px;
}

/* -------------- OPACITY ---------------- */
.opacity-0 {
    opacity: 0;
}
.opacity-05 {
    opacity: 0.5;
}
.opacity-1 {
    opacity: 1;
}

/* -------------- OVERFLOW -----------*/

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-hidden {
    overflow: hidden;
}

/* -------------- POINTER EVENTS -----------*/
.pointer-events-none {
    pointer-events: none;
}

/* ---------------- PADDING ---------------*/

.padding-8px {
    padding: 8px;
}

.padding-5px {
    padding: 4px;
}

.padding-4px {
    padding: 4px;
}

.padding-1px {
    padding: 1px;
}

.padding-y-8px {
    padding: 8px 0;
}

.padding-y-4px {
    padding: 4px 0;
}

.padding-x-8px {
    padding: 0 8px;
}

.padding-x-4px {
    padding: 0 4px;
}

/* ---------- SCROLL ----------- */

.snap-x-mandatory {
    scroll-snap-type: x mandatory;
}

.snap-align-start {
    scroll-snap-align: start;
}

.snap-align-end {
    scroll-snap-align: end;
}

.snap-align-start-end {
    scroll-snap-align: start end;
}

/* ---------- TEXT ----------- */

/* normal */
.normal-text {
    color: var(--md-color);
    text-decoration: none;
}

.text-primary {
    color: var(--md-color);
}

.text-secondary {
    color: var(--md-color-secondary);
}
.text-secondary-50per {
    color: var(--md-color-secondary-50per);
}

.text-white {
    color: var(--white);
}

.text-light {
    color: var(--color-light);
}

.text-red {
    color: var(--danger);
}

.text-blue {
    color: var(--blue);
}
.text-green {
    color: var(--green);
}

.color-react {
    color: var(--color-react);
}

.color-django {
    color: var(--color-django);
}

.color-fashion {
    color: var(--border-fashion);
}

/* don vi vnd */
.dv-vnd {
    font-size: 0.6rem;
}

.font-italic {
    font-style: italic;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-11px {
    font-size: 11px;
}

.font-12px {
    font-size: 12px;
}

.font-13px {
    font-size: 13px;
}

.font-16px {
    font-size: 16px;
}

.font-17px {
    font-size: 17px;
}

.font-18px {
    font-size: 18px;
}

.font-20px {
    font-size: 20px;
}

.font-22px {
    font-size: 22px;
}
.font-24px {
    font-size: 24px;
}

// align
.text-align-left {
    text-align: left;
}

.text-align-end {
    text-align: end;
}
.text-align-center {
    text-align: center;
}

/* ----------- TOUCH -------------*/

.touch-action-none {
    touch-action: none;
}

/* ----------- u -------------*/

.user-select-none {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

/* ----------- V -------------*/

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

/* ------------- ICON --------------*/
.size_icon {
    width: 1.5rem;
}

.close-icon-small {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--danger);
}

/* ----------------------- Webkit Scroll ------------------------*/
.scroll-thin::-webkit-scrollbar {
    width: 0.5rem;
}
.scroll-thin::-webkit-scrollbar-track {
    border-radius: 5px;
    // background-color: rgb(247, 247, 247);
    // box-shadow: 0 0 10px 0px black;
}
.scroll-thin::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
}

.scroll-thin:hover::-webkit-scrollbar-thumb {
    background-color: var(--md-bg-ccc);
}

//
.scroll-height-0::-webkit-scrollbar {
    height: 0;
}

//
.scroll-width-0::-webkit-scrollbar {
    width: 0;
}

/* ----------------------- Webkit input ------------------------*/
.inner-spin-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* --------------------- WIDTH ------------------------ */
.width-fit-content {
    width: fit-content;
}

//
@media (max-width: 600px) {
    .size_icon {
        width: 1rem;
    }
}

@media (max-width: 500px) {
    .scroll-thin::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 400px) {
    .brs-5px-md {
        border-radius: 0;
    }

    .brs-8px-md {
        border-radius: 0;
    }
}
