/* hr */
.hr-bg {
    background-color: var(--hr-bg);
    border-top: 1px solid var(--md-bg-ccc);
}

// -------- CURSOR

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-wait {
    cursor: wait;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-move {
    cursor: move;
}

.cursor-text {
    cursor: text;
}

// ------ 

.grayscale-1{
    filter: grayscale(1);
}


// ------ LINK

.active-scale-sm:active {
    transform: scale(0.95);
}

.active-color {
    color: var(--blue);
}

.nav-active .nav-text {
    color: var(--blue);
}

.nav-active .nav-bottom {
    border-bottom: 2px solid var(--blue-blur);
}

.nav-active .nav-bottom:hover {
    border-bottom: 2px solid var(--blue);
}

// --------- OPACITY
.opacity-0 {
    opacity: 0;
}

@for $i from 1 through 9 {
    .opacity-0#{$i} {
        opacity: #{$i / 10};
    }
}

.opacity-1 {
    opacity: 1;
}

// ------ OVERFLOW

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-hidden {
    overflow: hidden;
}

// ------ POINTER EVENTS
.pointer-events-none {
    pointer-events: none;
}

// ------- TOUCH

.touch-action-none {
    touch-action: none;
}

// ------

.user-select-none {
    user-select: none;
}

// --------

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

// ------- ICON

.close-icon-small {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--danger);
}
