// ---------- MARGIN
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-0 {
    margin: 0;
}

@for $i from 1 through 20 {
    .margin-#{$i}px {
        margin: #{$i}px;
    }

    .margin-x-#{$i}px {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .margin-y-#{$i}px {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }

    .margin-top-#{$i}px {
        margin-top: #{$i}px;
    }
    .margin-right-#{$i}px {
        margin-right: #{$i}px;
    }
    .margin-bottom-#{$i}px {
        margin-bottom: #{$i}px;
    }
    .margin-left-#{$i}px {
        margin-left: #{$i}px;
    }
}

// ---------- WIDTH

.width-fit-content {
    width: fit-content;
}

.width-max-content{
    width: max-content;
}

.width-auto{
    width: auto;
}

.width-0 {
    width: 0;
}

.w-100vw {
    width: 100vw;
}

.w-100per {
    width: 100%;
}

.w-50per {
    width: 50%;
}

.max-w-100per {
    max-width: 100%;
}

// 

.w-360px{
    width: 360px;
}

.w-500px{
    width: 500px;
}

.w-550px{
    width: 550px;
}


// ---------- HEIGHT

.height-auto{
    height: auto;
}

.h-100vh {
    height: 100vh;
}

.height-0 {
    height: 0;
}

.h-100per {
    height: 100%;
}

.h-50per {
    height: 50%;
}

.h-100vh {
    height: 100vh;
}

.max-h-100per {
    max-height: 100%;
}

.max-h-100vh {
    max-height: 100vh;
}

// ---------- WIDTH + HEIGHT

.wh-100 {
    width: 100%;
    height: 100%;
}

.wh-100v {
    width: 100vw;
    height: 100vh;
}

.wh-200v {
    width: 200vw;
    height: 200vh;
}

.wh-36px{
    width: 36px;
    height: 36px;
}

// ---------- PADDING

@for $i from 0 through 20 {
    .padding-#{$i}px {
        padding: #{$i}px;
    }
    .padding-x-#{$i}px {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .padding-y-#{$i}px {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }

    .padding-left-#{$i}px {
        padding-left: #{$i}px;
    }
    .padding-top-#{$i}px {
        padding-top: #{$i}px;
    }
    .padding-right-#{$i}px {
        padding-right: #{$i}px;
    }
    .padding-bottom-#{$i}px {
        padding-bottom: #{$i}px;
    }
}

// top
.padding-top-100per {
    padding-top: 100%;
}

.padding-top-50per {
    padding-top: 50%;
}
