$shadows: 1, 2, 5, 6, 8, 9;

// ------

:root {
    --color-222: #222;
    --color-333: #333;
    --color-555: #555;
    --black-brown: #300d00;
    --primary-08: rgba(0, 0, 0, 0.8);
    --btn-buy: #ff8d00;
    --color-light: #e4e6eb;
    --ccc: #ccc;
    --ccc-blur: #cccccc80;
    --blue: #007bff;
    --blue-blur: #007bff80;
    --blue-tear: #00a3ff;
    --danger: #dc3545;
    --del: #929292;
    --del-05: rgba(146, 146, 146, 0.5);
    --gray: #808080;
    --f1: #f1f1f1;
    --fa: #fafafa;
    --face-yellow: #ffd12e;
    --face-angry: #c20707;
    --fashion-head: #f7452e;
    --fashion-mall: #d0011b;
    --fashion-carousel-active: #ee4d2d;
    --heart: #fa4664;
    --heart-blur: #ffc2cc;
    --heart-through: #fa466480;
    --gold: gold;
    --gold-through: #ffd90080;
    --nav-active-color: #1877f2;
    --snow-flake: #76dfff;
    --snow-flake-through: #76dfff80;
    --star: #FE8C23;
    --success: #28a745;
    --warning: #ffc107;
    --white: white;
    --white-blur: #ffffff93;

    --hr-bg: #b8b5b5;

    /* bg */
    --bg-light: #e6ecf0;
    --bg-header-hover: #c9caca86;
    --bg-blur: #eee;
    --bg-through: #dededed6;
    --bg-s-through: #7d7c7c1f;
    --bg-skeleton: #c5c5c581;
    --bg-fetching: #1a0f0f80;
    --bg-cmt: #a3a3a3;
    --bg-fb-active: #e7f3ff;
    --bg-fashion-heart: #fbebed;
    --border-fashion: #ff6600;
    --border-active: #e6990a;
    --fashion-hover: #ff7c24;

    // -------

    --md-color: #050505;
    --md-color-secondary: #65676b;
    --md-color-third: #757575;
    --md-color-smoke: #d3d1d1;
    --md-gold: var(--gold-through);
    --md-heart: var(--heart-through);
    --md-snow-flake: var(--snow-flake);
    --md-black-brown: var(--black-brown);
    --color-react: #61dafb;
    --color-django: #44b78b;
    --green: #28a745;
    // bg
    --md-bg-primary: white;
    --md-bg-ccc: #e6e6e6;
    --md-bg-blur: #e4e6e9;
    --bg-app-form: #61ff8a;
    --md-bg-through: var(--bg-through);
    --md-bg-screen: #f4f4f4cc;
    --md-bg-fb: #f0f2f5;
    --md-bg-fb-active: var(--bg-fb-active);
    --md-bg-hover: #00000024;
    --bg-icon: #e1e2e285;
    //
    --md-box-shadow: #2c2b2b69;
    --box-shadow-fb: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
        inset 0 0 0 1px var(--shadow-inset);
    --box-shadow-1: 0 0.3px 3.2px var(--md-box-shadow);
    --box-shadow-action: 0 0 2.5px 1px var(--md-box-shadow);
    // border
    --md-border-blur: #00000041;

    // -------
    @each $shadow in $shadows {
        --shadow-#{$shadow}: rgba(0, 0, 0, #{$shadow / 10});
    }

    --shadow-inset: rgba(255, 255, 255, 0.5);
    --shadow-9-hover: #3a3434d9;

    /*     DARK     */
    &[data-theme='dark'] {
        --md-color: var(--color-light);
        --md-color-secondary: #b0b3b8;
        --md-color-third: #b0b3b880;
        --md-color-smoke: #3a3939;
        --md-gold: var(--gold);
        --md-heart: var(--heart);
        --md-snow-flake: var(--snow-flake);
        --md-black-brown: var(--md-color);
        --color-react: #216577;
        --color-django: #1b7e58;
        --color-222: var(--color-light);
        --green: #0b481a;
        --primary-08: var(--color-light);
        // bg
        --md-bg-primary: #3f3f3f;
        --md-bg-ccc: #4e4f50;
        --md-bg-blur: #ffffff1a;
        --md-bg-through: #545252d6;
        --md-bg-screen: #0b0b0bcc;
        --bg-app-form: #61ff8a80;
        --md-bg-fb: #18191a;
        --md-bg-fb-active: #263951;
        --md-bg-hover: rgb(42, 42, 42);
        --md-box-shadow: #ffffff99;
        --md-border-blur: #77767641;
    }

    // --------

    /* z index */
    --z-index-lv0: 0;
    --z-index-lv1: 10;
    --z-index-lv2: 20;
    --z-index-lv3: 30;
    --z-index-lv4: 40;
    --z-index-lv5: 50;

    /* HEIGHT */
    --height-header: 56px;

    //
    @media (max-width: 350px) {
        --height-header: 48px;
    }
}
