// ---------- WIDTH

.width-fit-content {
    width: fit-content;
}

.width-max-content {
    width: max-content;
}

.width-auto {
    width: auto;
}

.width-0 {
    width: 0;
}

.w-100vw {
    width: 100vw;
}

.w-100per {
    width: 100%;
}

.w-50per {
    width: 50%;
}

.max-w-100per {
    max-width: 100%;
}

// ---------- HEIGHT

.height-auto {
    height: auto;
}

.h-100vh {
    height: 100vh;
}

.height-0 {
    height: 0;
}

.h-100per {
    height: 100%;
}

.h-50per {
    height: 50%;
}

.h-100vh {
    height: 100vh;
}

//

.max-h-100per {
    max-height: 100%;
}

.max-h-100vh {
    max-height: 100vh;
}

// ---------- WIDTH + HEIGHT

.wh-100 {
    width: 100%;
    height: 100%;
}

.wh-100v {
    width: 100vw;
    height: 100vh;
}

.wh-200v {
    width: 200vw;
    height: 200vh;
}

// ----- PX

//
$wh-px-list: 2, 3, 4, 16, 36, 40, 48, 52, 250, 300, 360, 500, 550, 680;

@each $px in $wh-px-list {
    .wh-#{$px}px {
        width: #{$px}px;
        height: #{$px}px;
    }

    .w-#{$px}px {
        width: #{$px}px;
    }
    .h-#{$px}px {
        height: #{$px}px;
    }
}
