.PictureNameCommon_contain{
    // height: 3rem;
    cursor: pointer;
}

// .
.PictureNameCommon__pic{
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.PictureNameCommon_right{
    flex-grow: 1;
}
// .
.PictureNameCommon__name-content{
    padding-left: 0.5rem;
}
    