//
.VidPics_blur {
    .VidPics_blur-img {
        filter: blur(10px);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

//
.VidPics_current {
    position: absolute;
    left: 10%;
    bottom: 4rem;
    height: 80%;
    width: 80%;
}
.VidPics_current_contain {
    img,
    video {
        background-color: var(--white);
        min-width: 50%;
        max-width: 100%;
        max-height: 100%;
    }
}

/* ------------------- ALL ------------------- */
.VidPics_all {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.VidPics_all_contain {
    max-width: 20rem;
    overflow-x: auto;
}

//
@media (max-width: 20rem) {
    .VidPics_all_contain {
        max-width: 100vw;
    }
}

// ----

.device-mobile {
    .VidPics_all_contain {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
