.PostCmt {
    .CmtActionPc {
        .ActionsPc-hidden {
            opacity: 0;
        }
    }

    &:hover {
        .CmtActionPc {
            .ActionsPc-hidden {
                opacity: 1;
            }
        }
    }
}

.CmtActionPc_contain {
    width: 350px;
}
