.PostCmt {
    .CmtActionPc {
        .ActionsPc-hidden {
            display: none;
        }
    }

    &:hover {
        .CmtActionPc {
            .ActionsPc-hidden {
                display: block;
            }
        }
    }
}

.CmtActionPc_contain{
    min-width: 18rem;
    max-width: 100vw;
}
