.PostCmt {
    .CmtActionPc {
        .ActionsPc-hidden {
            display: none;
        }
    }

    &:hover {
        .CmtActionPc {
            .ActionsPc-hidden {
                display: block;
            }
        }
    }
}

.CmtActionPc_contain {
    width: 350px;
}
