.CreateUpdatePostHomeMoreInput{
    padding: 0.25rem;
    border: 1px solid var(--md-bg-ccc);
    background: white;
    border-radius: 5px;
}

.CreateUpdatePostHomeMoreInput_row{
    justify-content: flex-end;
}
// .
.CreateUpdatePostHomeContent__files{
    margin: 0 0.5rem;
}
// .
.CreateUpdatePostHomeContent__tag{
    margin: 0 0.5rem;
}