.CUPostHomeMoreInput{
    padding: 0.25rem;
    border: 1px solid var(--md-bg-ccc);
}

.CUPostHomeMoreInput_row{
    justify-content: flex-end;
}
// .
.CUPostHomeContent__files{
    margin: 0 0.5rem;
}
// .
.CUPostHomeContent__tag{
    margin: 0 0.5rem;
}