
.ShopPersonalRight{
    padding: 0.5rem;
    border: 1px solid var(--md-bg-ccc);
}
// .ShopPersonalRight_row{
//     justify-content: space-around;
// }
.ShopPersonalRight_col{
    width: 50%;
}

// 
.ShopPersonalRight_block{
    padding: 0.5rem;
}
///
.ShopPersonalRight__elm{
    margin-right: 0.25rem;
}