.FsPPOrderShopTotal{
    border-top: 1px dotted var(--md-bg-blur);
}

.FsPPOrderShopTotal_row{
    padding: 0 24px;
    border-bottom: 1px dotted var(--md-bg-blur);
}
// .
.FsPPOrderShopTotal_left{
    font-size: 12px;
    color: var(--md-color-third);
}
// .
.FsPPOrderShopTotal_right{
    width: 250px;
    border-left: 1px dotted var(--md-bg-blur);
}