//
@media (max-width: 500px) {
    .header_menu {
        padding: 0.75rem;
    }

    .header-hidden-position {
        left: 50%;
    }

    .header_hidden_contain {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

@media (max-width: 350px) {
    // .
    .header_hidden_contain {
        border-radius: 0;
    }

    .header_menu {
        // height: calc(var(--height-header));
        padding: 0.5rem;
    }

    .header_icon {
        width: 1.8rem;
        height: 1.8rem;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

@media (max-width: 265px) {
    .header_menu {
        padding: 0.4rem;
    }

    .header_icon {
        width: 1.6rem;
        height: 1.6rem;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

@media (max-width: 220px) {
    .header_menu {
        padding: 0.25rem;
    }

    .header_icon {
        width: 1.5rem;
        height: 1.5rem;
        svg {
            width: 0.75rem;
            height: 0.75rem;
        }
    }
}

@media (max-width: 200px) {
    .header_menu {
        padding: 0.2rem;
    }

    .header_icon {
        width: 1.4rem;
        height: 1.4rem;
        svg {
            width: 0.65rem;
            height: 0.65rem;
        }
    }
}
