//
.ChatMT{
    height: 3rem;
}

//
.ChatMT_row{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

//
.ChatMT__item{
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: #06060633;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
    //
    .InputFile{
        width: 3rem;
        height: 2.5rem;
        .InputFile_face{
            background-color: transparent;
            .IconsInput{
                stroke: var(--black-brown);
                stroke-width: 5;
                fill: var(--md-bg-ccc);
            }
        }
    }
    //
    .IconDraw_paint{
        fill: var(--md-bg-ccc);
    }
    //
    .IconFaceGray{
        stroke-width: 5;
        stroke: var(--black-brown);
        .IconFaceGray_eyes{
            fill: var(--black-brown);
        }
    }
}
//
.ChatMT__files{
    padding: 0;
}