//
.ProfileLayoutHomePreview_skeleton_title {
    width: 8rem;
}

// ------

.device-mobile {
    .ProfileLayoutHomePreview{
        padding: 8px;
    }
    
    .ProfileLayoutHomePreview_title {
        font-size: 17px;
    }
}
