
.InputDate_item{
    &:not(:last-child){
        margin-right: 0.5rem;
    }
}

.InputDate_item_contain{
    border-radius: 8px;
    select{
        min-width: 3rem;
        border-radius: 5px;
        background-color: var(--md-bg-fb);
        &:focus{
            outline: none;
        }
    }
}