

.BuyingShop{
    border-bottom: 1px solid var(--md-bg-ccc);
}


// items
.BuyingShop_items{
    margin-bottom: 0.5rem;
}
.BuyingShop_items-contain{
    // padding: 0.5rem;
    background-color: var(--md-bg-primary);
}

.BuyingShop_bot{
    position: relative;
    &:hover{
        .BuyingShop_bot-info{
            display: block;
        }
    }
}
//
.BuyingShop_bot-info{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    display: none;
    width: 15rem;
    max-width: 100vw;
    padding: 0.5rem;
    background-color: var(--md-bg-primary);
}


//
@media (max-width: 17rem){
    .BuyingShop_cost-detail{
        right: -0.75rem;
    }
}