.FashionPersonal-mobile {
    // ----
    .FsPPurOrderHead {
        padding: 10px;
        font-size: 12px;
    }

    .FsPPurOrderHead_row{
        align-items: flex-start;
    }

    // .
    .FsPPurOrderHead_back {
        .IconsArrow {
            width: 12px;
            height: 12px;
        }
    }

    // .
    .FsPPurOrderHead_order{
        display: block;
        text-align: center;
    }
    // ..
    .FsPPurOrderHead_order_id{
        margin-bottom: 5px;
    }
    // ..
    .FsPPurOrderHead_order_separate{
        display: none;
    }

    // -------

    .FsPPOrderActions_thank {
        flex-direction: column;
        padding: 10px;
    }
    // .
    .FsPPOrderActions_btn {
        margin-top: 10px;
    }

    .FsPPOrderActions_contact {
        justify-content: center;
        padding: 10px;
    }
}
