//.
.FashionItemInfo_left {
    width: 450px;
    max-width: 100%;
}

//
@media (max-width: 900px) {
    .FashionItemInfo_row {
        display: block;
    }
    // .
    .FashionItemInfo_left,
    .FashionItemInfo_right {
        width: 100%;
    }
    // ..
    .FashionItemInfo__num {
        & > div {
            &:nth-child(2) {
                width: 6rem;
            }
        }
    }
}

@media (max-width: 300px) {
    .FashionItemInfo_amount {
        display: block;
    }
}
