//
@media (min-width: 800px) {
    .HeaderV {
        display: none;
    }
}

//
@media (max-width: 350px) {
    .HeaderV_menu {
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

@media (max-width: 300px) {
    .HeaderV {
        .IconsArrow {
            width: 0.8rem;
            height: 0.6rem;
        }
    }

    .HeaderV_menu {
        padding: 0;
    }
}
