
// snow flake
.IconsNature_snow{
    // use
    use{
        // child of use
        @for $i from 1 to 6 {
            &:nth-child(#{$i + 1}){
                transform: translate(100px, 100px) rotate(#{60 * $i}deg) translate(-100px, -100px);
            }
        }
    }
}

//
.IconsNature_snow-right{
    transform: translate(100px, 100px) rotate(30deg) translate(-100px, -100px);
}

//
.IconsNature_snow-left{
    transform: translate(100px, 100px) rotate(-30deg) translate(-100px, -100px);
}

.rotate-360{
    .IconsNature_snow{
        animation: rotate-360 2s infinite linear;
    }
}

@keyframes rotate-360{
    0%{transform: translate(100px, 100px) rotate(0) translate(-100px, -100px)}
    100%{transform: translate(100px, 100px) rotate(360deg) translate(-100px, -100px)}
}