.AddNewPost {
    border: 1px solid var(--md-bg-ccc);
    cursor: default;
}

.AddNewPost_head {
    padding-bottom: 0.5rem;
}
// .
.AddNewPost_head-right {
    margin-left: 0.25rem;
    max-width: calc(100% - 3rem);
    padding: 0.5rem;

    border-radius: 15px;
    border: 1px solid var(--md-bg-ccc);
}

// .
.AddNewPost_foot-item {
    padding: 0.5rem;
    background-color: var(--bg-fetching);
    border-radius: 5px;
    .IconsInput {
        fill: var(--md-bg-ccc);
    }
}

//
@media (max-width: 300px) {
    .AddNewPost {
        padding: 0.25rem;
        border-radius: 0;
    }
}
