.AddNewPost {
    box-shadow: 0 1px 4px var(--shadow-1);
}

// .
.AddNewPost_head_title {
    border-radius: 15px;
}

// .
.AddNewPost_foot_part {
    width: 33%;
}
// ..
.AddNewPost_foot_part_right {
    margin-left: 10px;
}

//
@media (max-width: 300px) {
    .AddNewPost {
        padding: 0.25rem;
        border-radius: 0;
    }
}
