//
.ListTypeLike {
    animation: move-down 0.3s ease-out;
    //
    .open_type-like {
        transition: transform 0.2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

//
.ListTypeLike_contain {
    z-index: var(--z-index-lv4);
}

//
@keyframes move-down {
    from {
        opacity: 0;
        top: -70px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
