
.ScreenBlurHead_contain{
    padding: 0.5rem;
    border-bottom: 1px solid  var(--md-bg-ccc);
}

.ScreenBlurHead_row{
    display: flex;
    justify-content: space-between;
}
// .
.ScreenBlurHead_title{
    font-size: 18px;
}