//
.FashionRate{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.FashionRate_contain{
    width: fit-content;
}

//
.FashionRate_avg-num{
    margin-left: 0.5rem;
    font-size: 18px;
}

//
.FashionRate_row{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}
//
.FashionRate_title{
    width: 3rem;
}
.FashionRate_bar{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 15rem;
    max-width: calc(100% - 6rem);
    height: 1rem;
    
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 1px 1px gray;
}
.FashionRate_rate-bar{
    background-color: yellow;
}
.FashionRate_rate{
    min-width: 3rem;
    text-align: end;
}

.FashionRate_rate-now{
    display: flex;
    justify-content: space-around;
}
.FashionRate_rate-user{
    margin-right: 0.25rem;
}

//
@media (max-width: 500px){
    .FashionRate_contain{
        width: auto;
    }
}

//
@media (max-width: 350px){
    .FashionRate_rate{
        display: none;
    }
}

//
@media (max-width: 300px){
    .FashionRate_row{
        justify-content: space-around;
    }
    .FashionRate_bar{
        max-width: calc(100% - 5rem);
    }
}