.nav-active{
    .HeaderVItem{
        background-color: var(--md-bg-fb-active);
    }
}

.HeaderVItem {
    font-size: 16px;
    .IconsMenu_new-feed {
        stroke: none;
    }

    .IconsMenu_menu {
        stroke: none;
    }
}
