
.InputSelectedItem{
    padding: 2px 0 2px 8px;
}

.InputSelectedItem_row{
    display: inline-flex;
    align-items: center;
}

// .
.InputSelectedItem_icon{
    width: 28px;
    height: 28px;
    .IconsArrow_close{
        stroke: var(--blue);
    }
}
