$width: 2.2rem;
$height: 1rem;

.ToggleSwitch {
    position: relative;

    width: $width;
    height: $height;
    border-radius: 20px;
    background-color: var(--md-bg-blur);
    
    cursor: pointer;
    transition: all 0.3s;
}
.ToggleSwitch-open {
    background-color: var(--blue);
    .ToggleSwitch_ball {
        left: $width - $height - 0.1rem;
    }
}

.ToggleSwitch_ball {
    position: absolute;
    left: 0.1rem;
    top: 50%;

    width: $height - 0.2rem;
    height: $height - 0.2rem;
    border-radius: 50%;
    background-color: var(--md-bg-primary);

    transform: translateY(-50%);
    transition: all 0.3s;
}
