.PLRatesItemBody_service {
    &::after {
        content: '';

        position: absolute;
        left: 10px;
        bottom: 100%;

        border-width: 0 5px 8px 5px;
        border-style: solid;
        border-color: transparent var(--md-bg-fb-active) transparent transparent;
    }
}
