.NewFeedCenter {
    display: flex;
    flex-direction: column;
}
// .
.NewFeedCenter_story {
    margin-bottom: 1rem;
}
// .
.NewFeedCenter_new {
    margin: 0 auto 1rem;
    width: 500px;
    max-width: 100%;
}

.NewFeedCenter_search {
    order: -1;
}

// ----
.device-mobile {
    .NewFeedCenter_story {
        margin-bottom: 5px;
    }

    .NewFeedCenter_new {
        order: -1;
        margin-bottom: 5px;
    }
}
