.FashionHCommon_contain{
    width: 1250px;
    max-width: 100%;
}

// ..
.FashionHCommon_side {
    width: 200px;
}

//
.FashionHCommon-mobile{
    .FashionHCommon {
        position: relative;
    }

    .FashionHCommon_row {
        display: block;
    }
    // .
    .FashionHCommon_left {
        width: fit-content;
        margin-bottom: 0.5rem;
    }
    // ..
    .FashionHCommon_center {
        width: 100%;
    }
    // ..
    .FashionHCommon_right {
        position: absolute;
        right: 0.5rem;
        top: 1rem;

        width: fit-content;
    }

    .IconFav{
        width: 2.5rem;
        height: 2.5rem;
    }
} 

