.FashionHCommon_contain{
    width: 1250px;
    max-width: 100%;
}

// ..
.FashionHCommon_side {
    width: 200px;
}

//
@media (max-width: 1000px) {
    .FashionHCommon_side{
        width: 150px;
    }
}
//
@media (max-width: 750px) {
    .FashionHCommon {
        position: relative;
    }

    .FashionHCommon_row {
        display: block;
    }
    // .
    .FashionHCommon_left {
        width: fit-content;
        margin-bottom: 0.5rem;
    }
    // ..
    .FashionHCommon_center {
        width: 100%;
    }
    // ..
    .FashionHCommon_right {
        position: absolute;
        right: 0.5rem;
        top: 1rem;

        width: fit-content;
    }
}
