//
.CityItem {
    position: relative;
    margin: auto;
    width: 40vw;
    max-width: 500px;

    padding: 0.5rem;
    background-color: var(--md-bg-primary);
}

// .
.CityItem_user {
    width: fit-content;
    .SkeletonDiv_div {
        width: 8rem;
    }
}

// ..
.CityItem_quote{
    white-space: pre-wrap;
}

// .
.CityItem_img {
    margin-top: 0.5rem;
}
.CityItem_img-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.CityItem_choices {
    position: absolute;
    right: 0;
    top: 5px;
}
