.FashionShop-mobile {
    .FsShopVidPicSingle{
        position: relative;
        padding-top: 50%;
    }
    
    .FsShopVidPicSingle_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}