.FashionShop-mobile{
    .FsShopDiscount {
        padding: 10px;
    }
    // .
    .FsShopDiscount_title{
        display: none;
    }
    // .
    .FsShopDiscount_item {
        .FsSDiscountItem {
            width: 250px;
            padding-left: 10px;
            height: 85px;
        }
    }
    // .
    .FashionCardDiscount_title {
        font-size: 12px;
    }
}