.FsICombo {
    padding: 24px 30px;
    
    .FsICombo_deal_label-mb {
        font-size: 14px;
        border: none;
        color: var(--md-color);
        padding: 0;
    }
}


.FsICombo_contain {
    margin-top: 20px;
}
// .
.FsICombo_item {
    width: 175px;
    max-width: 40%;
}
