
.FashionRateSkeleton_title{
    width: 50%;
}

.FashionRateSkeleton_avg{
    width: 60%;
}

// .
.FashionRateSkeleton_cmt_item{
    margin-bottom: 1.5rem;
}
// ..
.FashionRateSkeleton_user{
    width: 10rem;
}
.FashionRateSkeleton_cmt{
    width: 75%;
}
