//
.HeaderNature{
    .HeaderNature_close{
        padding: 0.5rem;
        border-bottom: 1px solid var(--md-bg-ccc);
    }

    .HeaderNature_snow:hover{
        color: var(--snow-flake);
    }
    .HeaderNature_flower:hover{
        color: var(--gold);
    }
}