
//
.ArrowAndString_arrow{
    .ArrowAndString_icon{
        transition: all 0.3s linear;
    }
}
//
.ArrowAndString_arrow-down{
    .ArrowAndString_icon{
        transform: rotate(90deg);
    }
    .IconsArrow_dropdown{
        fill: aqua;
    }
}
