.PrLayoutHomePreviewPics_item {
    width: calc(33.33% - 4px);

    &:nth-child(3n + 1), &:nth-child(3n + 2) {
        margin-right: 6px;
    }

    &:nth-child(n + 4) {
        margin-top: 6px;
    }
}
