.StoryFace{
    &:hover{
        .StoryFace_content{
            transform: scale(1.025);
        }

        .story-bg-hv{
            display: block;
        }
    }
}

.StoryFace_content{
    transition: all 100ms ease-in;
}

.StoryFace_name{
    z-index: 2;
}

// .
.StoryFace_count_new{
    position: absolute;
    right: 5px;
    top: 5px;

    .BadgeDiv{
        width: 1.75rem;
        height: 1.75rem;
        background-color: var(--blue);
        font-size: 14px;
    }
}