// 
.CUPost {
    min-height: 100vh;
    padding: 56px 0;
    overflow-x: hidden;
}

.CUPost_row{
    position: relative;
    
    margin-right: auto;
    margin-left: auto;

    border-radius: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-fb);

    overflow: hidden;

    transition: all 150ms ease-in;
}

.CUPost_part{
    position: absolute;
    left: 0;
    top: 0;
    
    margin-left: auto;
    margin-right: auto;

    transition: all 150ms ease-in;
}
// .
.CUPost_part_hidden{
    height: 350px;
}