// ..
.ProductSearch__btn {
    margin-right: 0.5rem;
    width: 5rem;
    padding: 0.5rem;

    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: var(--md-bg-blur);
    }

    .IconsArrow {
        transform: rotate(-180deg) scale(0.9, 0.7);
    }
}

// .
.ProductSearch_filter_sort {
    position: absolute;
    z-index: var(--z-index-lv1);
    border: 2px solid var(--md-bg-blur);
}
