.CUPostBtnPreviewMbMb{
    width: 27px;
    height: 27px;

    .IconsEdit_pen{
        fill: white;
    }

    .IconsAction_del_cap{
        stroke: white;
    }
    .IconsAction_del_bucket{
        stroke: black;
        fill: white;
    }
}