.SubList_contain {
    margin-left: 0.5rem;
}

//
.SubList_list {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: max-height 0.3s;
}

.SubList_show {
    max-height: 15rem;
}
.SubList_hidden {
    max-height: 0rem;
}
