// 
@media (max-width: 300px) {
    .RightHeader__icon{
        padding: 0.25rem;
    }
}

@media (max-width: 250px) {
    .RightHeader__icon{
        svg{
            width: 1rem;
            height: 1rem;
        }
    }
}