
.RightHeader {
    margin-right: 1rem;
}

.RightHeader_ul {
    display: flex;
    padding-left: 0;
}
// .
.RightHeader_li {
    position: relative;
}

.RightHeader__num-notice{
    position: absolute;
    left: 75%;
    top: -5px;
}

.RightHeader__icon{
    position: relative;
}
