.PLHeadTopLeftPc_separate {
    width: 1px;
    height: 100%;
    background-color: var(--md-color-secondary);
}

.PLHeadTopLeftPc_address_name{
    max-width: 100px;
}

.PLHeadTopLeftPc_cart_row {
    border: 1px solid currentColor;

    .IconsMenu_fashion {
        stroke: currentColor;
    }
}
