.Comments {
    .ScreenBlurShowMore {
        padding: 0 8px;
    }

    .ScreenBlurShowMore-more {
        justify-content: flex-start;
    }

    .ScreenBlurShowMore_title {
        font-weight: 600;
        color: var(--md-color-secondary);

        &:hover {
            text-decoration: underline;
        }
    }

    .ScreenBlurShowMore_fetching {
        .IconsLoader {
            width: 1rem;
            height: 1rem;
        }
    }
}

.device-mobile {
    .Comments {
        .ScreenBlurShowMore_title {
            color: inherit;
        }

        .ScreenBlurShowMore{
            padding: 0;
        }
    }

    .Comments_title {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .Comments_input {
        padding: 5px;
    }
}
