//
// @media (max-width: 500px) {
//     .Comment__input {
//         .CommentInput {
//             .InputFile {
//                 width: 1rem;
//                 height: 1rem;
//                 .IconsInput {
//                     width: 0.6rem;
//                     height: 0.6rem;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 300px) {
    .Comments {
        font-size: 14px;
        line-height: 1.25;

        .PictureName {
            font-size: 12px;
        }
        .PictureNameCommon_contain {
            height: auto;
        }
        .PictureNameCommon__pic {
            width: 30px;
            height: 30px;
        }
        
        .ScreenBlurShowMore {
            font-size: 14px;
            .IconsLoader {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .ListUniqueLike .IconsTypeLike {
            width: 0.8rem;
            height: 0.8rem;
        }
        .ListUniqueLike_item {
            margin: 0.1rem;
        }
    }

    .CommentWsHead_user {
        padding: 0.25rem;
        font-size: 12px;
    }

    .CommentWs_user-pic {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .CmtSub_content {
        padding: 0;
    }
}
