.Comments {
    .ScreenBlurShowMore-more{
        justify-content: flex-start;
    }
    
    .ScreenBlurShowMore_title {
        font-weight: 600;
        color: var(--md-color-secondary);

        &:hover {
            text-decoration: underline;
        }
    }
}
