.FsSearchProducts_item{
    width: 20%;
}

.device-mobile{
    .FsSearchProducts_item{
        width: 33.33%;
    }

    @media (max-width:450px) {
        .FsSearchProducts_item{
            width: 50%;
        }
    }
    
}