.ChatHide {
    &:hover {
        .ChatHide_close {
            display: block;
        }

        .ChatHide_info_user {
            display: block;
        }
    }
}

.ChatHide_contain{
    transition: transform 250ms ease;
}
.ChatHide_contain-mounted-yet{
    transform: scale(0);
}
.ChatHide_contain-mounted-done{
    transform: scale(1);
}

.ChatHide_close {
    position: absolute;
    right: 0;
    top: -5px;
}
// .
.ChatHide_close-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.ChatHide_info_user {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}
// .
.ChatHide_info_user-padding{
    &::after{
        bottom: 50%;
        transform: translateY(50%);
    }
}
