.HeaderMessItem {
    .ActionsPc-hidden {
        display: none;
    }

    &:hover {
        .ActionsPc-hidden {
            display: block;
        }
    }
}

// -----

.HeaderMessItemAction_btn {
    width: 36px;
    height: 36px;

    box-shadow: 0 0 0 1px var(--shadow-1);
}

.HeaderMessItemAction_contain-pc {
    width: 350px;
    z-index: var(--z-index-lv5);
}

// ------

.HeaderMessItemAction_contain-mb {
    max-height: calc(100% - 60px);
}
