.StoryCreateChoice {
    &:hover {
        opacity: 0.8;
    }
}

.StoryCreateChoice_icon {
    width: 44px;
    height: 44px;
}

//
@media (max-width: 400px) {
    .StoryCreateChoice_icon {
        width: 30px;
        height: 30px;

        .IconsInput {
            width: 1rem;
            height: 1rem;
        }
    }
    
    .StoryCreateTextChoice_title {
        font-size: 14px;
    }
}
