
.AddDiv{
    color: var(--blue);

    &:hover{
        text-decoration: 1px solid underline;
    }

    .IconDiv_left{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid var(--blue);

        transform: rotate(45deg);
    }

    .IconsArrow_close{
        stroke: var(--blue);
    }
}