%tooltip {
    content: '';

    position: absolute;
    left: 150px;
    transform: translateX(-50%);

    border: 0.5rem solid transparent;
}

/*---------*/
.FsItemIfRSDDetail {
    &::before {
        bottom: 100%;
        border-bottom-color: var(--md-bg-blur);
        @extend %tooltip;
    }

    &::after {
        bottom: calc(100% - 1.5px);
        border-bottom-color: var(--md-bg-primary);
        @extend %tooltip;
    }
}

.FsItemIfRSDDetail_contain {
    max-height: 22rem;
    padding: 24px;
    border: 1px solid var(--md-bg-blur);
}
