.StoryTextContentC_text {
    height: 80%;
}

.StoryTextContentC_text_contain {
    overflow-x: hidden;
}

.StoryTextContentC_text_contain_item {
    white-space: pre-wrap;
}

// ..
.StoryTextContentC_icon_more {
    .IconsArrow_next {
        stroke: var(--md-color-secondary);
    }
}
