.StoryTextContentC_text {
    height: 80%;
}

.StoryTextContentC_text_contain {
    padding: 0 8px;
}
.StoryTextContentC_text_contain-less {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.StoryTextContentC_text_contain_item {
    white-space: pre-wrap;
}

// ..
.StoryTextContentC_icon_more{
    margin-left: 5px;
    width: 1rem;
    height: 1rem;
}
.StoryTextContentC_icon_more-more{
    transform: rotate(-90deg);
}
.StoryTextContentC_icon_more-less{
    transform: rotate(90deg);
}