
//
.BuyingItem{
    border-bottom: 1px solid var(--md-bg-ccc);
}

.BuyingItem_quantity{
    padding: 0 0.75rem;
}

//
.BuyingItem_cancel{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
