.InputFile {
    width: 2.5rem;
    height: 2.5rem;
}

// ...
.InputFile_face_contain {
    cursor: pointer;
    transition: background-color 0.15s;
    &:hover {
        background-color: #e1e2e285;
    }
}

//
@media (max-width: 500px) {
    .InputFile {
        width: 2rem;
        height: 2rem;
    }
}
