.ProfileInfoCover_bg {
    width: 80%;
    height: 50%;
}
// .
.ProfileInfoCover_bg_contain {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(100px);
}

.ProfileInfoCover_contain {
    width: 950px;
    max-width: 100%;
    padding-top: 32%;

    background-image: linear-gradient(
        to top,
        var(--shadow-2),
        transparent 30%,
        transparent
    );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ProfileInfoCover_img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// ------

.device-mobile {
    .ProfileInfoCover_contain {
        padding-top: 40%;
    }
}
