.ProfileLayoutPicture {
    width: 168px;
}

.ProfileLayoutPicture_contain {
    bottom: 5px;
}

.ProfileLayoutPicture_pic-story {
    border: 4px solid white;
}
.ProfileLayoutPicture_pic-story_new {
    .ProfileLayoutPicture_pic_contain {
        border: 4px solid var(--blue);
    }
}
.ProfileLayoutPicture_pic-story_seen {
    .ProfileLayoutPicture_pic_contain {
        border: 4px solid var(--md-bg-ccc);
    }
}
// .
.ProfileLayoutPicture_img {
    border: 4px solid var(--white);
}

// --------

.device-mobile {
    .ProfileLayoutPicture {
        width: 100%;
        height: 75px;
    }

    .ProfileLayoutPicture_contain {
        transform: translateX(-50%);
        left: 50%;
        width: 140px;
    }
}
