// ..
.PLDetailProduct_box_price {
    border-width: 0px 1px 1px;
    border-style: solid;
}
.PLDetailProduct_box_price-1 {
    border-color: var(--blue);
}
.PLDetailProduct_box_price-2 {
    border-color: var(--fashion-mall);
}
