.StoryFace{
    &:hover{
        .StoryFace_img{
            transform: scale(1.025);
        }

        .story-bg-hv{
            display: block;
        }
    }
}

.StoryFace_pic{
    position: absolute;
    left: 0;
    top: 0;
}
// .
.StoryFace_pic-contain{
    padding: 14px;
}
// ..
.StoryFace_pic-border-new{
    border: 4px solid var(--blue);
}
// ..
.StoryFace_pic-border-old{
    border: 4px solid var(--white);
}

.StoryFace_name{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
}
// .
.StoryFace_name-contain{
    padding: 8px;
    max-width: 100%;
}
// ..
.StoryFace_name-item{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;
    word-wrap: break-word;
}

// .
.StoryFace_count_new{
    position: absolute;
    right: 0;
    top: 0;

    .BadgeDiv{
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--blue);
        font-size: 14px;
    }
}