
.ShopBanner_{
    &carousel{
        margin: auto;
        height: 30rem;
    }
    
    
    // 
    @media (max-width: 500px){
        &carousel{
            height: 25rem;
        }
    }
    
    // 
    @media (max-width: 300px){
        &carousel{
            height: 20rem;
        }
    }
}