.FsPNOIProcessItem {
    &::after {
        content: '';

        position: absolute;
        left: 60px;
        top: 0;
        transform: translateX(-50%);

        height: 100%;
        width: 1px;

        background-color: var(--md-bg-blur);
    }
}

.FsPNOIProcessItem_left {
    position: relative;

    width: 80px;
    height: 80px;

    &::after {
        content: '';

        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);

        width: 8px;
        height: 8px;

        border-radius: 50%;
        background-color: var(--md-bg-blur);
    }
}
