.FsPNOIProcessItem {
    &::after {
        content: '';

        position: absolute;
        left: 60px;
        top: 0;
        transform: translateX(-50%);

        height: 100%;
        width: 1px;

        background-color: var(--md-bg-blur);
    }

    &::before {
        content: '';

        position: absolute;
        left: 60px;
        top: 25px;
        transform: translateX(-50%);

        width: 8px;
        height: 8px;

        border-radius: 50%;
        background-color: var(--md-bg-blur);
    }
}

.FsPNOIProcessItem_left {
    width: 80px;
}
