.Home_part {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--md-bg-primary);

    border-radius: 5px;
    border-bottom: 1px solid var(--md-bg-blur);
}

//
@media (max-width: 500px) {
    // ----

    .home-title {
        padding: 10px;
        font-size: 14px;
    }

    // ----

    .Home_part {
        padding: 0;
        border-radius: 0;
    }

    .HomeFeed_body {
        padding-top: 50%;
    }
    .HomeCity_body {
        padding-top: 50%;
    }
}
