.Home {
    .App_title {
        margin-bottom: 1rem;
    }
}

.Home_phone_title {
    background-color: var(--gold);
}
.Home_cloth_title {
    background-color: var(--border-fashion);
}
.Home_city_title {
    background-color: var(--green);
}

.Home__main_link {
    color: white;
}

.Home_products {
    margin-bottom: 1rem;
}
// .
.Home_products_contain {
    margin: auto;
    padding: 0;
    padding-bottom: 0.5rem;

    background-color: var(--md-bg-primary);
    border: 1px solid var(--bg-blur);

    overflow: hidden;
}
// ..
.Home_products_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style-type: none;
    .Home_products_item {
        border: 0.2px solid var(--bg-blur);
    }
}

//
@media (max-width: 500px) {
    .Home_products_contain {
        width: 100%;
        border-radius: 0;
    }
}
