.Home_skeleton{
    height: 250px;
}

// 
.Home_title{
    padding: 8px 0;
    text-align: center;
}

.Home_title-phone {
    background-color: var(--gold);
}

.Home_title-fashion {
    background-color: var(--border-fashion);
}

.Home_title-city {
    background-color: var(--green);
}

// ..
.Home_products_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style-type: none;
    .Home_products_item {
        border: 0.2px solid var(--bg-blur);
    }
}
// ...
.Home_fashion_item{
    width: 200px;
    padding: 4px;
    max-width: 50%;
}

//
@media (max-width: 500px) {
    .Home_products_contain {
        width: 100%;
        border-radius: 0;
    }
}
