.FsCSVoucherList{
    padding: 30px;
}
.FsCSVoucherList-pc{
    width: 600px;
}
.FsCSVoucherList-mb{
    padding: 10px;
}

.FsCSVoucherList_close_contain{
    width: 1.5rem;
    height: 1.5rem;
}

.FsCSVoucherList_input{
    padding: 15px 8px;
}

.FsCSVoucherList_body{
    margin: 0 -3px;
}
// .
.FsCSVoucherList_item-first{
    order: -1;
}

// 
@media (max-width: 400px) {
    .FsCSVoucherList_input{
        padding: 0;
        background-color: transparent;
    }
}
