.LoginForm {
    margin: 0 2rem;
}
.LoginForm_contain {
    display: flex;
    align-items: center;

    min-height: 100vh;
    padding: 2rem 0;
    background-color: var(--green);
}

// .
.LoginForm_row {
    width: 100%;
}
// ..
.LoginForm_col-left {
    width: 30%;
    color: var(--color-light);
}
// ..
.LoginForm_col-right {
    width: 70%;
}

// ...
.LoginForm_form {
    max-width: 27rem;
}

// ....
.LoginForm_login{
    .ButtonRipple{
        height: 3rem;
    }
}

// ....
.LoginForm_error {
    padding: 0.5rem;
    background-color: var(--heart-blur);
    border: 1px solid var(--danger);
    color: var(--danger);
}

// ....
.LoginForm_input {
    margin: 1.25rem 0;
}

// ....
.LoginForm_or{
    margin: 1rem 0;
}
// .....
.LoginForm_or_row{
    & > div:nth-child(2n + 1){
        width: 30%;
        border-bottom: 1px solid var(--green);
    }

    & > div{
        margin: 0 0.25rem;

        color: var(--green);
        font-weight: bold;
    }
}

// ....
.LoginForm_sign_up{
    .ButtonRipple{
        width: 12.5rem;
        max-width: 80%;
        background-color: var(--green)
    }
}

//
@media (max-width: 1400px) {
    .LoginForm {
        margin: 0 0.5rem;
    }
}

@media (max-width: 800px) {
    .LoginForm {
        margin: 0 0.2rem;
    }

    // .
    .LoginForm_col-left {
        margin-bottom: 1rem;
    }
    // .
    .LoginForm_col-left,
    .LoginForm_col-right {
        width: 100%;
    }
}
