.LoginForm {
    min-height: inherit;
}
.LoginForm_contain {
    min-height: inherit;
    padding: 3rem 0;
    background-image: linear-gradient(45deg, var(--success), var(--blue-tear));
}

// .
.LoginForm_row {
    width: 100%;
}
// ..
.LoginForm_col-left {
    width: 30%;
    color: var(--color-light);
}
// ..
.LoginForm_col-right {
    width: 70%;
}

// ...
.LoginForm_form {
    max-width: 27rem;
}

// ....
.LoginForm_login {
    .ButtonRipple {
        height: 3rem;
    }
}

// ....
.LoginForm_error {
    padding: 0.5rem;
    background-color: var(--heart-blur);
    border: 1px solid var(--danger);
    color: var(--danger);
}

// ....
.LoginForm_input {
    margin: 1.25rem 0;
}

// ....
.LoginForm_or {
    margin: 1rem 0;
}
// .....
.LoginForm_or_row {
    & > div:nth-child(2n + 1) {
        width: 30%;
        border-bottom: 1px solid var(--green);
    }

    & > div {
        margin: 0 0.25rem;

        color: var(--green);
        font-weight: bold;
    }
}

// ....
.LoginForm_sign_up {
    .ButtonRipple {
        width: 12.5rem;
        max-width: 80%;
        background-color: var(--green);
    }
}

//
@media (max-width: 800px) {
    .LoginForm_contain {
        padding: 1rem 0 4rem;
        background-image: linear-gradient(90deg, var(--success), var(--blue-tear));
    }
    
    // .
    .LoginForm_col-left {
        margin-bottom: 1rem;
    }
    // .
    .LoginForm_col-left,
    .LoginForm_col-right {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .LoginForm_contain{
        .IconFav{
            width: 5rem;
            height: 5rem;
        }
    }
}
