.ShortVideoInteract_item_btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;

    svg {
        width: 20px;
        height: 20px;
    }
}

// ------

.device-mobile {
    .ShortVideoInteract {
        padding-bottom: 60px;
        opacity: 0.75;
    }

    .ShortVideoInteract_item_btn {
        width: 36px;
        height: 36px;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}
