%btn-transition {
    transition: all 150ms ease-in;
}

// -----

.ZoomPostCommonLeft {
    &:hover {
        .ZoomPostCommonLeft_next_prev {
            opacity: 1;
            visibility: visible;
        }
    }
}

// .
.ZoomPostCommonLeft_item {
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

.ZoomPostCommonLeft_next_prev {
    opacity: 0;
    visibility: hidden;
    @extend %btn-transition;
}
