// ------

$dur-time: 0.25s;

// ------
//
.ChatPv_contain {
    transition: all $dur-time;
    overflow: hidden;
}
.ChatPv_show {
    max-height: 10rem;
    padding-top: 20px;
}
.ChatPv_hide {
    max-height: 0;
    padding-top: 0;
}

//
.ChatPv_toggle {
    z-index: 2;
    transition: all $dur-time;
}
.ChatPv_toggle-show {
    top: 0;
    color: var(--white);
}
.ChatPv_toggle-hide {
    top: -20px;
    color: var(--md-color);
}

//
.ChatPv_face_contain {
    opacity: 0;
    &:hover {
        opacity: 0.5;
    }
}

.ChatPv_close_contain {
    width: 1.25rem;
    height: 1.25rem;
}

// files
.ChatPv_files {
    width: 100%;
    overflow-x: auto;
    .ImgVidPreview {
        display: flex;
        .ImgVidPreview__elm {
            margin-right: 0.5rem;
            position: relative;
        }
    }
}

// fetching
.ChatPv_fetching {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
}
