.device-mobile {
    // ----
    .PLPhones_filter {
        margin: auto;
        max-width: 600px;
        padding: 0 0 0 70px;

        font-size: 13px;

        .IconFilter  {
            width: 16px;
            height: 16px;
        }
        .IconCaret {
            width: 12px;
            height: 12px;
        }
    }

    .PLPhones_filter_row {
        flex-wrap: nowrap;

        margin: unset;
        max-width: unset;
        width: 100%;
        white-space: nowrap;

        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 0;
        }

        & > li {
            padding: 10px 5px;
            border-bottom: 1px solid var(--md-bg-blur);
        }
    }

    .PLPhones_filter_summary {
        position: absolute;
        left: 0;
    }

    // -----

    .PLPhones_brand {
        padding: 10px 0;
    }
}
