.device-mobile {
    .PLFilterSummary {
        margin: 0 auto;
        max-width: 600px;
    }
    .PLPhonesFilterSummary_filter {
        position: fixed;
        top: 0;

        width: 100%;
        height: 100%;
        padding: 0;
    }

    .PLPhonesFilterSummary_filter_contain{
        width: 100%;
        height: 100%;
        max-height: unset;
        border-radius: 0;
    }
}
