.device-mobile{
    .PLPhonesTopBanner_row{
        max-height: 50vw;
    }

    .PLPhonesTopBanner_carousel{
        width: 100%;
        padding-right: 0;
    }

    .PLPhonesTopBanner_promote{
        display: none;
    }
}