
.ActionsFriendUser{
    border-bottom: 1px solid var(--md-bg-ccc);
}
// .
.ActionsFriendUser_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .PictureName__name{
        width: 10rem;
        max-width: calc(100vw - 6rem);
    }
}

// ..
.ActionsFriendUser_add{
    padding: 0.5rem;
    cursor: pointer;
    &:hover{
        color: var(--blue);
    }
}