.ProfileLayoutCover_bg {
    width: 80%;
    height: 50%;
}
// .
.ProfileLayoutCover_bg_contain {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(100px);
}

.ProfileLayoutCover_contain {
    width: 940px;
    max-width: 100%;
}
// .
.ProfileLayoutCover_cover {
    padding-top: 37%;

    background-image: linear-gradient(
        to top,
        var(--shadow-2),
        transparent 30%,
        transparent
    );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ProfileLayoutCover_img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// ------

@media (max-width: 500px) {
    .ProfileLayoutCover_cover {
        padding-top: 50%;
    }
}
