.HeaderMessFriend{
    display: flex;
    flex-direction: column;
    width: 80px;
}

.HeaderMessFriend_pic{
    margin-bottom: 0.5rem;
}
// .
.HeaderMessFriend_img{
    border: 1px solid var(--md-bg-ccc);
}
