
.HeaderMessFriend_pic{
    margin-bottom: 0.5rem;
}
// .
.HeaderMessFriend_img{
    border: 1px solid var(--md-bg-ccc);
}

.HeaderMessFriend_name{
    width: 70px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}