// .Chat{
//     position: relative;
//     z-index: calc(var(--z-index-lv3) + 1);
// }

.Chat_hidden{
    position: fixed;
    right: 0;
    bottom: 0;
    
}
// .
.Chat_hidden-contain{
    height: 20rem;
    max-height: 100%;
    overflow-y: auto;
    
    &::-webkit-scrollbar{
        width: 0;
    }
}
// ..
.Chat_hidden-item{
    padding: 0.25rem;
}
