
.ScreenBlurHead{
    border-bottom: 1px solid  var(--md-bg-ccc);
}

// .
.ScreenBlurHead_title{
    font-size: 1.25rem;
}

//
@media (max-width: 400px) {
    .ScreenBlurHead{
        .IconsArrow{
            width: 1rem;
            height: 1rem;
        }
    }

    .ScreenBlurHead_title {
        font-size: 18px;
    }
}
