.ScreenBlurHead_row {
    height: 60px;
}

.ScreenBlurHead_close {
    width: 36px;
    height: 36px;

    .IconsArrow_close {
        stroke: var(--md-color-secondary);
    }
}

//
.device-mobile {
    .ScreenBlurHead_close {
        width: 27px;
        height: 27px;

        .IconsArrow{
            width: 18px;
            height: 18px;
        }
    }

    .ScreenBlurHead_row {
        height: 48px;
    }

    .ScreenBlurHead_title {
        font-size: 16px;
    }
}
