
.ScreenBlurHead_row{
    height: 60px;
}

.ScreenBlurHead_close{
    width: 36px;
    height: 36px;

    .IconsArrow_close{
        stroke: var(--md-color-secondary);
    }
}

//
@media (max-width: 400px) {
    .ScreenBlurHead{
        .IconsArrow{
            width: 1rem;
            height: 1rem;
        }
    }

    .ScreenBlurHead_title {
        font-size: 18px;
    }
}
