
.ProductCartBuy{
    padding: 0.5rem;
}

.ProductCartBuy_product{
    width: 50%;
}
//3
.ProductCartBuy_product-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    max-height: 4.5rem;
    overflow: hidden;
}
//2
.ProductCartBuy_calculate{
    width: 50%;
}
//3
.ProductCartBuy_price{
    width: 20%;
    text-align: center;
}
.ProductCartBuy_total{
    width: 20%;
    text-align: center;
}


//
@media (max-width: 900px){
    .ProductCartBuy_product{
        width: 40%;
    }
    .ProductCartBuy_calculate{
        width: 60%;
    }
}

@media (max-width: 700px){
    .ProductCartBuy_calculate{
        display: block;
        &>div{
            width: 100%;
        }
    }
}

@media (max-width: 350px){
    .ProductCartBuy_row{
        display: block;
        &>div{
            width: 100%;
        }
    }
}