.ProductCartBuy_product {
    width: 50%;
}
//3
.ProductCartBuy_product-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    margin-left: 0.5rem;
    max-height: 4.5rem;
    overflow: hidden;
}
//2
.ProductCartBuy_calculate {
    width: 50%;
    overflow-x: auto;
}
//3
.ProductCartBuy_price {
    width: 20%;
    text-align: center;
}
.ProductCartBuy_total {
    width: 20%;
    text-align: center;
}
