.ChatF_MT {
    transition: height 0.4s;
    overflow: hidden;
}
.ChatF_MT-open {
    height: 3rem;
}
.ChatF_MT-close {
    height: 0;
}

.ChatF_MB {
    transition: width 0.4s;
}
.ChatF_MB-open {
    width: 8rem;
}
.ChatF_MB-close {
    width: 2rem;
}

.ChatF_Ip {
    transition: all 0.4s;
}
// .
.ChatF_textarea {
    max-height: 6.5rem;
}
