.PLRatesItemHead_icon_tick{
    width: 14px;
    height: 14px;
    background-color: currentColor;
}

.PLRatesItemHead_rate{
    .IconHeart_face{
        fill: none;
    }
    .IconHeart_heart{
        fill: var(--fashion-mall);
    }
}