.FashionHomeSelling_not_fetched{
    height: 250px;
}

.FashionHomeSelling_contain{
    padding: 0 1rem;
}

.FashionHomeSelling_title{
    padding: 1rem;
}

.FashionHomeSelling_item{
    margin: 0 2px;
}

// 
@media (max-width: 500px) {
    .FashionHomeSelling_contain{
        padding: 0 0.5rem;
    }
    
}
