// .
.FbSearchPagePhotoAll_item {
    margin: 3px;
    width: 200px;
}

// -----

.device-mobile{
    .FbSearchPagePhotoAll_item {
        margin: 0;
        max-width: 33.33%;
        padding: 3px;
    }

}
