.ProductsAnimate_contain {
    position: relative;
    margin: auto;
    width: 60rem;
    max-width: 98vw;
    overflow: hidden;

    background-color: var(--md-bg-through);
}

.ProductsAnimate_title {
    background-color: var(--danger);
}

// .
.ProductsAnimate_item{
    width: 175px;
    max-width: 50%;
}
