.GroupHomeMb {
    // -----

    .GroupLayoutLeftHead_head {
        padding: 0 8px;
    }
    // .
    .GroupLayoutLeftHead_title {
        font-size: 20px;
    }

    .GroupLayoutLeftHead_search .FbSearchInputElm {
        padding: 0 8px;
    }

    // ----

    .GroupLayoutLeftNav {
        padding: 8px 0;
    }

    // ----

    .GroupLeftGroupList {
        margin: 0;
    }

    .GroupLeftGroupItem {
        img {
            width: 48px;
            height: 48px;
        }
    }
}
