.StoryTextPcC{
    height: 11.5rem;
    border: 1px solid var(--md-bg-blur);
}

.StoryTextPcC_textarea {
    padding: 10px;
    border: none;
    resize: none;

    transition: padding 250ms ease-in;

    &:focus,
    &:not(:empty) {
        outline: 1px solid var(--blue);
        outline-offset: 3px;
        padding-top: 1.5rem;

        & + .StoryTextPcC_title {
            top: 0;
            background-color: var(--md-bg-primary);
            opacity: 1;
            color: var(--blue);
        }
    }

    &:focus{
        &::placeholder{
            opacity: 0.75;
        }
    }
}

.StoryTextPcC_title {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    padding: 0 0.5rem;
    background-color: transparent;

    pointer-events: none;
    opacity: 0;
    transition: all 250ms ease-in;
}
