.FsCartItemGift_product{
    img{
        width: 58px;
        height: 58px;
    }
}

.FsCartItemGift_product{
    width: 34%;
    padding-left: 80px;
}

.FsCartItemGift_type{
    width: 22%;
}

.FsCartItemGift_count{
    width: 40%;
}

.FsCartItemGift_del_search{
    width: 14%;
}
