.PLHeadAccessories{
    width: 770px;
    padding: 10px 10px 25px 10px;
}

// .
.PLHeadAccessories_left{
    width: 33.33%;
}

// .
.PLHeadAccessories_right{
    width: 66.67%;
}
// ..
.PLHeadAccessories_right_part{
    width: 50%;
}
