.FbSearchPageLayout_no_results {
    height: calc(100vh - var(--height-header));
}

// -------

.device-mobile {
    .FbSearchPageLayout_left {
        position: fixed;
        left: 0;
        top: var(--height-header);
        z-index: var(--z-index-lv2);

        width: 100%;
        height: calc(100% - var(--height-header));
        background: white;

        transform: translateX(100%);
        transition: all 250ms ease-in;
    }
    .FbSearchPageLayout_left-open {
        transform: translateX(0%);
    }

    .FbSearchPageLayout_right {
        width: 100%;
        padding-top: 48px;
    }
    // .
    .FbSearchPageLayout_right_head {
        .IconsArrow_back-prev {
            stroke: currentColor;
        }
    }
}
