.FsIComboItem_head{
    margin-bottom: 10px;
    padding-top: 100%;
}


.FsIComboItem_name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.FsIComboItem_price{
    padding-top: 8px;
}
// .
.FsIComboItem_price_old{
    margin-right: 5px;
}