.StoryCreateTextRightPc_text {
    z-index: 2;
}
// .
.StoryCreateTextRightPc_text_contain {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
// ..
.StoryCreateTextRightPc_text_item {
    white-space: pre-wrap;
}
