//
.ActionsChat_close {
    position: absolute;
    top: 5px;
    right: 5px;
}

//
.ActionsChat_pos {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    min-height: 5rem;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
}
