.HeaderMessItem {
    .ActionsPc-hidden {
        display: none;
    }

    &:hover {
        .ActionsPc-hidden {
            display: block;
        }
    }
}

.HeaderMessItemAction_separate{
    width: 100%;
    height: 1px;
    background-color: var(--md-bg-blur);
}

.HeaderMessItemAction_btn {
    width: 36px;
    height: 36px;

    box-shadow: 0 0 0 1px var(--shadow-1);
}

.HeaderMessItemAction_contain {
    width: 345px;
}

.HeaderMessItemAction_action_contain {
    z-index: var(--z-index-lv5);
}
