.ProfilePrCommon {
    padding: 0.75rem;
}

// .
.ProfilePrCommon_title {
    margin: 0;
    font-size: 20px;
    padding-bottom: 0.5rem;
}
.ProfilePrCommon_skeleton_title {
    width: 8rem;
}

// ------

.device-mobile {
    .ProfilePrCommon_title {
        font-size: 17px;
    }
}
