.FashionOR_row{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

//
.FashionOR_col{
    width: 30%;
    text-align: center;
    padding: 0.5rem;
}
.FashionOR_col-title{
    margin-right: 0.5rem;
}

//
@media (max-width: 600px){
    .FashionOR_col{
        width: 50%;
    }
}