.gr-page-about-part {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
}

.gr-page-about-title {
    font-size: 17px;
    font-weight: 600;
}

// ----

.device-mobile {
    .gr-page-about-part {
        padding: 8px;
        border-radius: 0;
    }

    .gr-page-about-title {
        font-size: 16px;
    }
}
