.gr-page-about-part {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--md-bg-primary);
    box-shadow: var(--box-shadow-1);
}

.gr-page-about-title {
    font-size: 17px;
    font-weight: 600;
}

.gr-page-about-hr {
    border-bottom-color: transparent;
    border-top-color: var(--shadow-1);
}
