.FsIIfRRateSold_avg{
    padding-right: 15px;
}
// .
.FsIIfRRateSold_avg_rate{
    border-bottom: 1px solid currentColor;
}

.FsIIfRRateSold_count{
    padding: 0 15px;
    border-right: 1px solid var(--md-bg-blur);
    border-left: 1px solid var(--md-bg-blur);
}
// .
.FsIIfRRateSold_count_num{
    border-bottom: 1px solid currentColor;
}

.FsIIfRRateSold_sold{
    padding-left: 15px;
}