.FsItemIfRShopDiscount{
    &:hover{
        .FsItemIfRShopDiscount_detail{
            display: block;
        }
    }
}

.FsItemIfRShopDiscount_item{
    margin: 0 8px 8px 0;
    cursor: default;
}

.FsItemIfRShopDiscount_detail{
    max-width: 400px;
    padding-top: 1rem;
}
