.FbSearchPageLeft_head{
    padding-left: 52px;
}

.FbSearchPageLeft_filter_title{
    height: 48px;
}

// -------

.device-mobile{
    .FbSearchPageLeft_head{
        margin: 0;
    }

    .FbSearchPageLeft_head_title{
        padding: 15px 0;
        font-size: 18px;
    }

    .FbSearchPageLeft_filter_title {
        padding-left: 8px;
        padding-right: 8px;
    }

    .FbSearchPageLeft_contain{
        padding-left: 0;
        padding-right: 0;
    }
}
