//
.FashionPersonal_ctg {
    margin-top: 0.5rem;
}

//
.FashionPersonal_contain {
    position: relative;
}
//
.FashionPersonal_row {
    display: flex;
}

//
.FashionPersonal_left {
    transition: transform 0.3s;
    z-index: 2;
}

.FashionPersonal_left-toggle {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;

    opacity: 1;
    transition: all 0.3s;
}
.FashionPersonal_left-toggle-hidden {
    right: -2rem;
    opacity: 0.5;
}

.FashionPersonal_left-icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s;
}
.FashionPersonal_left-icon-close {
    transform: rotate(45deg);
}

//
.FashionPersonal_right {
    margin: 0 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
    border: 1px solid var(--md-bg-blur);
}

//
.FashionPersonal_block {
    padding: 0.5rem;
}
