//
@media (max-width: 900px) {
    .FashionPersonal_left {
        position: absolute;
        left: 0;
        top: 0;
    }
    .PersonalLeft{
        width: 20rem;
        max-width: 100vw;
    }

    .FashionPersonal_left-hidden {
        transform: translateX(-100%);
    }
    .FashionPersonal_left-toggle {
        display: block;
    }

    .FashionPersonal_right {
        margin: 0;
        padding: 0.1rem;
    }
}