.FashionCart-mb{
    // ------- TOTAL
    .FsCFsTotal_row{
        display: block;
    }
    // .
    .FsCFsTotal_left-not-done{
        justify-content: space-between;
        width: 100%;
    }
    // ..
    .FsCFsTotal_left_check{
        font-size: 12px;
    }


    .FsCFsTotal_btn_buy{
        width: 100%;
    }
}