.FashionCart-mb{
    .FsCartShop_group_item{
        margin-top: 15px;
    }

    .FsCShopVoucher{
        padding: 8px;
    }
    .FsCSVoucherItem_card_left {
        padding: 12px;
    }
    .FsCSVoucherItem_card_right {
        padding: 0 10px;
    }

    .FsCSFreeShip{
        padding: 8px;
    }
    .FsCSFreeShip_right_title{
        display: none;
    }
}