.FashionCart-mb{
    .fs-cart-summary-part{
        padding: 14px 12px;
    }
    
    .FashionCart_fix{
        width: 1.5rem;
        height: 1.5rem;
    
        transition: all 250ms ease-in;
    }
    .FashionCart_fix-done{
        transform: rotate(0deg);
    }
    .FashionCart_fix-not-done{
        transform: rotate(-45deg);
    }
}
