.AboutContact{
    .AboutContact_detail{
        & > div:not(:last-child){
            padding: 0.5rem;
            &:hover{
                background-color: var(--md-bg-hover);
            }
        }
        .AboutContact_update{
            display: flex;
            justify-content: center;
            button{
                padding: 0.5rem;
                background-color: var(--danger);
                opacity: 0.8;
                border-bottom: 2px solid var(--md-box-shadow);
                border-right: 2px solid var(--md-box-shadow);
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
                &:active{
                    border-bottom: none;
                    border-right: none;
                    border-top: 2px solid var(--md-box-shadow);
                    border-left: 2px solid var(--md-box-shadow);
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .AboutContact{
        .AboutContact_detail{
            & > div{
                padding: 0.3rem;
            }
        }
    }
}