// 
.SkeletonDiv_contain{
    height: 1.5rem;
}

.SkeletonDiv_div{
    height: 0.75rem;
    border-radius: 20px;
    background-color: var(--bg-skeleton);

    animation: loading 2s infinite alternate;
}

// 
@keyframes loading{
    0%{opacity: 0.25;}
    100%{opacity: 0.1;}
}