//
.InputPassword_input {
    border: 1px solid var(--md-color-secondary);

    &:focus {
        outline: none;
    }
}
//
.InputPassword_valid {
    border: 1px solid var(--success);
}
//
.InputPassword_invalid {
    border: 1px solid var(--danger);
}

/* eye */
.InputPassword__eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
