.InputPassword_password{
    position: relative;
}

//
.InputPassword_input{
    width: 100%;
    padding: 0.5rem;

    &:focus{
        outline: none;
    }
}
//
.InputPassword_valid{
    border: 2px solid var(--success);
}
//
.InputPassword_invalid{
    border: 2px solid var(--danger);
}

/* eye */
.InputPassword__eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}