//
.ActionsAccount {
    .IconsMenu_home {
        fill: currentColor;
    }

    .IconsArrow_back-prev {
        stroke: var(--md-color);
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.ActionsAccount_profile {
    border-bottom: 2px solid var(--bg-blur);
}

// ------

.device-mobile {
    .ActionsAccount_profile_pic {
        width: 40px;
        height: 40px;
    }
}
