
/* ------------------------------------------ */
//
.Fashion_body{
    margin: 0 0.5rem;
}

//
.Fashion_head{
    margin-bottom: 0.5rem;
}
.Fashion_carousel{
    margin: 1rem 0;
}

.Fashion_banner{
    background-image: url('/image/banner_shopping.jpg');
    background-position: center;
    background-size: cover;
}

.Fashion__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    margin: auto;
    width: 52rem;
    padding: 0;
    list-style-type: none;
}
.Fashion_more{
    text-align: center;
}

//
@media (max-width: 500px){
    .Fashion__list{
        width: 100%;
    }
}

//
@media (max-width: 300px){
    .Fashion_body{
        margin: 0 0.25rem;
    }
}

