.device-mobile {
    .GroupPageMemberPics {
        padding: 0 8px;
        
        .OverlapPics_item {
            width: 20px;
            height: 20px;
        }

        .OverlapPics_item_img {
            width: 30px;
            height: 30px;
        }
    }
}
