.HeaderNoticeItem_action {
    right: 25px;
}

// ----

.device-mobile {
    .HeaderNoticeItem_contain {
        padding-right: 25px;
    }

    .HeaderNoticeItem_pic{
        width: 40px;
        height: 40px;
    }

    .HeaderNoticeItem_action {
        transform: rotate(90deg);
        top: 0;
        right: 0;
    }

    .HeaderNoticeItemAction_btn {
        width: auto;
        height: auto;
        padding: 8px;
        border: none;
        
        background: transparent;
        box-shadow: none;

        .IconThreeDot{
            width: 15px;
            height: 15px;
        }
    }
}
