
/* ------------------------------ BG BS HR ----------------------------- */

/* skeleton */
.bg-skeleton{
    background-color: var(--bg-skeleton);
}

.bg-vid-pic{
    background-image: linear-gradient(to right, #121111, #545454, #545454, #131212);
}

.bg-loader{
    background-color: var(--bg-loader);
}

.bg-film{
    background-color: var(--bg-film);
}

.bg-fb{
    background-color: var(--md-bg-fb);
}

/* ----------------------- Box Shadow --------------------------------- */
.App_box_shadow{
    box-shadow: 0 0.2rem 0.5rem 0.07rem var(--md-box-shadow);
}

.box-shadow-1{
    box-shadow: 0 0.02rem 0.2rem var(--md-box-shadow);
}

/* hr */
.App_hr-bg{
    background-color: var(--hr-bg);
    border-top: 1px solid var(--md-bg-ccc);
}

/* none */
.App_hr-none{
    border: none;
}


/* ------------------------ BORDER --------------------------- */

/* border-radius */
.brs-5px{
    border-radius: 5px;
}

.brs-50{
    border-radius: 50%;
}

/* border */
.border-active{
    border: 1px solid var(--border-active);
}

.border-blue{
    border: 1px solid var(--blue);
}

.border-blur{
    border: 1px solid var(--bg-blur);
}

.border-hidden{
    border: 1px solid transparent;
}

/* border bottom */
.bottom-blue{
    border-bottom: 2px solid var(--blue);
}



/* ---------------------------- CURSOR -------------------------*/
.cursor-pointer{
    cursor: pointer;
}

.cursor-wait{
    cursor: wait;
}


/* ---------------------------- HOVER -------------------------*/
.hv-cl-blue:hover{
    color: var(--blue);
}

.hv-opacity{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.hv-bg-blur{
    &:hover{
        background-color: var(--md-bg-blur);
    }
}


/* ----------------------------NavLink active -------------------------*/
.active-color{
    color: var(--blue);
}

.nav-active .nav-text{
    color: var(--blue);
}

.nav-active .nav-bottom{
    border-bottom: 2px solid var(--blue-blur);
}

.nav-active .nav-bottom:hover{
    border-bottom: 2px solid var(--blue);
}


/* -------------------------- Margin --------------------------------- */
.margin-auto{
    margin-left: auto;
    margin-right: auto;
}


/* ------------------------ OPACITY -------------------------- */
.opacity-5{
    opacity: 0.5;
}


/* ---------------------------- POINTER EVENTS -------------------------*/
.pointer-events-none{
    pointer-events: none;
}


/* ------------------------ TEXT -------------------------- */

/* normal */
.normal-text{
    color: var(--md-color);
    text-decoration: none;
}

/* red */
.text-red{
    color: var(--danger);
}

.text-blue{
    color: var(--blue);
}
.text-green{
    color: var(--success);
}

/* don vi vnd */
.dv-vnd {
    font-size: 0.6rem;
}

.font-italic{
    font-style: italic;
}

.color-react{
    color: var(--color-react);
}

.color-django{
    color: var(--color-django);
}

// align
.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}

/* ---------------------------- ICON -------------------------*/
.size_icon{
    width: 1.5rem;
}

.close-icon-small{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--danger);
}


/* ----------------------- Webkit Scroll ------------------------*/
.scroll-thin::-webkit-scrollbar{
    width: 0.5rem;
}
.scroll-thin::-webkit-scrollbar-track{
    border-radius: 5px;
    // background-color: rgb(247, 247, 247);
    // box-shadow: 0 0 10px 0px black;
}
.scroll-thin::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}

.scroll-thin:hover::-webkit-scrollbar-thumb{
    background-color: var(--md-bg-ccc);
}


/* ----------------------- Webkit input ------------------------*/
.inner-spin-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* --------------------- WIDTH ------------------------ */
.width-fit-content{
    width: fit-content;
}


//
@media (max-width: 600px){
    .size_icon{
        width: 1rem;
    }
}

@media (max-width: 500px){
    .scroll-thin::-webkit-scrollbar{
        width: 0;
    }
}