.FashionPersonal-mobile {
    .FsPProfilePic {
        padding-bottom: 10px;

        border-left: none;
        border-bottom: 1px solid var(--md-bg-blur);
    }

    // .
    .FsPProfilePic_img {
        margin: 10px 0;
        width: 80px;
        height: 80px;
    }
    // .
    .FsPProfilePic_btn {
        padding: 5px 10px;
    }
    // ..
    .FsPProfilePic_input {
        margin-bottom: 10px;
    }
    // .
    .FsPProfilePic_note {
        font-size: 12px;
    }
}
