.HeaderHItemHasSub {
    position: relative;
    cursor: pointer;
    &:hover {
        .HeaderHItemHasSub_icon-active{
            border-bottom: 2px solid transparent;
        }
        .HeaderHItemHasSub_sub {
            visibility: visible;
            opacity: 1;
            &::before {
                width: 100%;
            }
        }
    }
}
// .
.HeaderHItemHasSub_icon{
    transition: all 0.5s;
}
.HeaderHItemHasSub_icon-active {
    border-bottom: 2px solid var(--base-seafoam);
}
// .
.HeaderHItemHasSub_sub {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;

    // make bottom blue
    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;

        width: 0%;
        height: 2px;
        background-color: var(--base-seafoam);
        transition: width 0.5s;
    }

    &.header_hidden {
        width: 18rem;
    }
}
