
.HeaderHItemHasSub {
    position: relative;
    cursor: pointer;
    &:hover {
        .HeaderHItemHasSub_sub {
            visibility: visible;
            opacity: 1;
            &::before {
                width: 100%;
            }
        }
    }
}
// .
.HeaderHItemHasSub_sub {
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s;

    // make bottom blue
    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;

        width: 0;
        height: 2px;
        background-color: var(--blue);
        transition: width 0.25s;
    }

    &.header_hidden{
        width: 18rem;
    }
}
