.FashionBuyTotal_cal{
    padding: 10px 30px;
}
// ..
.FashionBuyTotal_cal_left{
    width: 110px;
}
// ..
.FashionBuyTotal_cal_right{
    width: 135px;
    padding-left: 10px;
}

.FashionBuyTotal_buy{
    padding: 0 30px;
    border-top: 1px dashed var(--md-bg-blur);
}
// .
.FashionBuyTotal_privacy{
    padding: 30px 0;
}
// .
.FashionBuyTotal_btn{
    width: 200px;
}