//
.FashionBuyTotal {
    padding: 0.5rem 1rem;
}

.FashionBuyTotal_right {
    width: 20rem;
    max-width: 100%;
}

// .
.FashionBuyTotal_buy {
    padding: 1rem;
    background-color: var(--btn-buy);

    text-align: center;
    font-weight: 800;
    color: white;
}

//
@media (max-width: 600px) {
    .FashionBuyTotal_row {
        display: block;
    }
    //
    .FashionBuyTotal {
        padding: 0.5rem;
    }
    .FashionBuyTotal_title {
        border-bottom: 1px solid var(--md-bg-blur);
    }
}
