
//
.PersonalInformation_title{
    border-bottom: 1px solid var(--md-bg-blur);
    text-align: center;
}

//
// .PersonalInformation_block{
//     margin: 0.5rem;
// }

//
.PersonalInformation_skeleton{
    .SkeletonDiv_div{
        margin: 1rem 0.5rem;
        &:nth-child(2n + 1){
            width: 8rem;
        }
        &:nth-child(2n){
            width: 12rem;
            margin-bottom: 1.5rem;
        }
        &:not(:nth-child(-1)){
            max-width: 100vw;
        }
    }
}